%section.site_title
  %hr
  %h3
    = link_to "<< Back to BSC Curricula Page", curriculums_path, class: 'btn btn-primary'
  %hr
  %h1
    = "Here are our current course offerings in \"#{@curriculum.name}\"..."
    =render 'shared/curriculum_courses'