- question.answers.each do |answer|

  - case answer.choices.where(student_id: current_user.id).first.selected
  - when true
    - class_values = ['answer', 'clicked_on']
  - when false
    - class_values = ['answer']
  %h3= link_to answer.answer_content, choice_path(answer.choices.where(student_id: current_user.id, answer_id: answer.id).first), :method => :patch, :class => class_values, remote: true
