<section class="site_title">
  <div ng-app="assessApp">
    <div>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
      <ui-view></ui-view>
    </div>
  </div>
</section>