<section class="bsc-container">
  <hr/>
    <h1>
      <%= "Here is your #{@assessment.type_of}  for the \"#{@assessment.course.name}\" course in the \"#{@assessment.course.curriculum.name}\" curriculum." %>
    </h1>
  <hr/>
  <% @assessment.questions.each do |question|  %>
    <div>
      <h2><%= question.question_content %></h2>
      <% question.answers.each do |answer|  %>
        <h3 class="answer" >
          <% choice = current_user.choices.where(answer_id: answer.id).first %>
          <%= link_to answer.answer_content, edit_choice_path(choice), remote: true, :class => ("brown" if choice.selected == true) %>
        </h3>
      <% end %>
    </div>
  <% end %>
  
</section>