%section.site_title
  %hr
  %h2="Your #{@assessment.type_of}:"
  %hr
  -i = 1
  -@assessment.questions.each do |question|
    %hr
    %h3=i.to_s + ". " + question.question_content
    -question.answers.each do |answer|

      %h3= link_to answer.answer_content, answer, class: 'answer'

    -i = i + 1
  %p
    =link_to "Edit #{@assessment.type_of} | ", edit_assessment_path(@assessment)
    =link_to "View All", assessments_path

