<section class="site_title">
  <hr/>
  <header>
    <h1>
      <%= "Build an Assessment for the \"#{@course.name}\" course in the \"#{@course.curriculum.name}\"." %>
    </h1>
    <%= render 'form' %>
  </header>
</section>