%section.bsc-container
  
  %h2="Welcome to Part #{@part.id}\!"
  %br
  %h2="Here are part #{@part.id}'s Lessons"
  -@part.lessons.each do |lesson|
    
    %h3=link_to lesson.name, part_lesson_path(@part, lesson)
    %h3=lesson.description
  
    %h3=link_to "Test for this part" #, assessment_path(@assessment)
%br
%br
/ Progress Status
.panel.panel-default
  .panel-body
    %nav
      %ul.pager
        %li.previous.disabled
          %a{:href => "#"}
            %span{"aria-hidden" => "true"} 
            Current Progress
        %li.next
          %a{:href => "#"}
            Next: Lesson 1
            %span{"aria-hidden" => "true"} &rarr;
    .progress
      .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 65%;"} 65%

/ Part Overview
%section.site_title
  .row
    .col-lg-12.center
      %h1.page-header="Welcome to Part #{@part.id}\!"
      .col-md-12
        .panel-group#accordian
          .panel.panel-default
            .panel-heading
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse1"}
                %h3="Lesson 1 - พระผู้สร้าง"
            #collapse1.panel-collapse.collapse
              .panel-body
                %h4.heading="Description"
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
                %a.btn.btn-default{:href => "#"} Review this Lesson
            .panel-heading
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse2"}
                %h3="Lesson 2 - บาปเข้าเอเดน"
            #collapse2.panel-collapse
              .panel-body
                %h4.heading="Description"
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
                %a.btn.btn-default{:href => "#"} Continue this Lesson
            .panel-heading
              %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapse3"}
                %h3="Lesson 3 - ชายชราผู้ศรัทธาต่อพระเจ้า"
            #collapse3.panel-collapse.collapse
              .panel-body
                %h4.heading="Description"
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
              / /.panel
/ /.row
