%section.site_title
  %hr
  %hr
  %hr
  %div{ 'ng-app' => 'Raffler' }
    %div{:'ng-controller' => 'RaffleCtrl'}
      = form_tag("/", "ng-submit" => "addEntry($event)") do
        %label
          Entry
        %br
        %input{"ng-model" => "newEntry.name"}/
        %br
        %button{:type => 'submit'}
          Submit Entry
      %ul
        %li{:'ng-repeat' => 'entry in entries'}
          {{entry.name}}
          %span.winner{"ng-class" => "{highlight: entry == lastWinner}", "ng-show" => "entry.winner"} WINNER
      %button{"ng-click" => "drawWinner()"} Draw winner

  %hr
  %hr