%section.site_title
  %hr
  %h1="Hello to #{current_user.first_name}!!"
  %hr
  %h1
    Here are your current syllabi...
  %hr
  %hr
  - counter = 0
  - @syllabuses.each do |syllabus|
    - counter += 1
    %h2= counter.to_s + ". "
    %h2=link_to syllabus.title, syllabus_path(syllabus)
    %hr