<h4>ขั้นตอนที่ 3: ชักชวนอาสาสมัคร!</h4>
<p class="vol-step">แนะนำและเชิญชวนสมาชิกในคริสตจักร องค์กรของคุณ ฯลฯ รวมทั้งเชิญชวนคนคุณที่รู้จักให้พิจารณาเพื่อสมัครเป็นอาสาสมัครของโครงการซิตี้ อิงลิช  และคุณสามารถให้พวกเขาใช้รหัส PIN เพื่อลงทะเบียนใน ‘สถานะอาสาสมัคร’ ได้</p>
