<h4>ขั้นตอนที่ 2: เชิญคนอาสาสมัคร!</h4>

<p class="vol-step">เชิญคนจากคริสตจักรองค์กร ฯลฯ ที่จะมาที่หน้าเว็บนี้เพื่อลงทะเบียนใน "อาสาสมัคร" สถานะ  พวกเขาจะต้องได้รับ PIN จากคุณลงทะเบียนใน "คนอาสาสมัคร" สถานะ  มิฉะนั้นพวกเขาเท่านั้นที่สามารถลงทะเบียนใน "นักเรียน" สถานะ</p>