<h4>ขั้นตอนที่ 3: คนอาสาสมัครจะคูณ!</h4>
<p class="vol-step">ส่งเสริมให้ผู้คนจากคริสตจักรองค์กร ฯลฯ ที่จะเชิญคนอื่น ๆ ที่พวกเขารู้ว่า ที่จะพิจารณาเป็นอาสาสมัคร สำหรับ "City English Project"  จากนั้นคุณสามารถให้พวกเขา PIN เช่นกัน สำหรับพวกเขาที่จะลงทะเบียนในสถานะของ "อาสาสมัคร"</p>
