<h4>ขั้นตอนที่ 2: เชิญชวนอาสาสมัครมาลงทะเบียน!</h4>

<p class="vol-step">เมื่อคริสตจักร หน่วยงานธุรกิจ หรือองค์กรของคุณลงทะเบียนและได้รับการตอบรับจากโครงการแล้ว พวกเขาจะได้รับรหัส PIN หลังจากนั้นอาสาสมัครสามารถใช้ PIN เพื่อลงทะเบียนกับโครงการซิตี้ อิงลิช ที่เว็บไซต์นี้ได้</p>