<p class="intro">ยินดีต้อนรับ</p>
<h2>คนอาสาสมัคร!</h2>
<h3>นี่คือภาพรวมของ CEP สำหรับคุณ.</h3>
<h3>ลองมาดูด้านล่าง!</h3>
<div class="col-md-12">
  <span id="backbone-app">
    <p><a class="link-button" href="/register_admin">ลงทะเบียนองค์กรของคุณ</a></p>
  </span>
</div>
