%section.bsc-container
  %header
    %h2="From Lesson \"#{@conversation.lesson.name}\" you can read a conversation about the story in this version:"
    %br
    %h3="#{@conversation.lesson_language_version}"

