    <div id="mycarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
        <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Welcome+mobile.png" alt="" class="img-responsive">
          <div class="carousel-caption">
            SMALL TEXT.
          </div>
        </div>
      </div>
    </div>

