<div id="front-main-hbs">

  {{> front/_welcome }}

  {{> front/_features }}

  {{> front/_get_started }}

</div>

<!-- nested modals in application_form.hbs -->
{{> front/_nested_modal }}
{{> front/_nested_modal_christian_worldview }}
{{> front/_nested_modal_cost_amount }}
{{> front/_nested_modal_payment_info }}
<!-- nested modals in application_form.hbs -->

<script>
  // Nested modals ... see http://stackoverflow.com/questions/19305821/multiple-modals-overlay
  $(document).on('show.bs.modal', '.modal', function (event) {
    var zIndex = 1040 + (10 * $('.modal:visible').length);
    $(this).css('z-index', zIndex);
    setTimeout(function() {
      $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
    }, 0);
  });
  $(document).on('hidden.bs.modal', '.modal', function () { // This restores the scrolling ability of the underlying modal.
    $('.modal:visible').length && $(document.body).addClass('modal-open');
  });

</script>