<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">มาจากสาทรเหนือ</h3>
    </div>
    <div class="modal-body">

      1
      <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Directions+from+Satorn/From+Satorn+2.jpg" class="img-responsive" alt="CEP directions">
      <hr>

      2
      <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Directions+from+Satorn/From+Satorn+1.jpg" class="img-responsive" alt="CEP directions">
      <hr>

      3
      <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Directions+from+Satorn/From+Satorn+3.jpg" class="img-responsive" alt="CEP directions">
      <hr>

      4
      <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Directions+from+Satorn/From+Satorn+4.jpg" class="img-responsive" alt="CEP directions">
      <hr>

      5
      <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Directions+from+Satorn/From+Satorn+5.jpg" class="img-responsive" alt="CEP directions">
      <hr>

      6
      <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Directions+from+Satorn/From+Satorn+6.jpg" class="img-responsive" alt="CEP directions">
      <hr>

      7
      <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Directions+from+Satorn/From+Satorn+7.jpg" class="img-responsive" alt="CEP directions">
      <hr>

      8
      <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Directions+from+Satorn/From+Satorn+8.jpg" class="img-responsive" alt="CEP directions">
      <hr>

      9
      <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Pictues+-+CEP1.png" class="img-responsive" alt="CEP's front entrance">
      <hr>

      10
      <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Front+entrance+driveway+to+CEP.png" class="img-responsive" alt="CEP's front entrance">
      <hr>

      11
      <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Directions+from+Satorn/From+Satorn+10.jpg" class="img-responsive" alt="CEP directions">
      <hr>

      12
      <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Pictues+-+CEP2.png" class="img-responsive" alt="CEP's front entrance">
      <hr>

      13
      <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Pictues+-+CEP3.png" class="img-responsive" alt="CEP's front entrance">

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
    </div>
  </div> <!-- Modal content-->
</div> <!-- Modal dialog -->

<script>

  /// to prevent scrolling when bootstrap modal is open
  var $html = $(document.documentElement);
  var $modal = $('#locationpicturesmodal');

  function showModal() {
    $html.css('overflow', 'hidden');
    $modal.css('overflow', 'auto');
  }

  function hideModal() {
    $html.css('overflow', '');
    $modal.modal("hide");
  }

  $('.modal-initiator').on('click', showModal);
  $('.close-modal').on('click', hideModal);
  /// to prevent scrolling ///////////////////////
  
</script>







