<h4>Step 2: Invite Volunteers!</h4>

<p class="vol-step">Invite folks from your church, organization, etc to this web page to Register in "Volunteer" status.  They must receive a PIN from you to Register in "Volunteer" status.  Otherwise, they can only Register in "Student" status.</p>