<p class="intro">Welcome</p>
<h2>Volunteers!</h2>
<h3>Here is an overview of CEP for you.</h3>
<h3>Let's take a look below!</h3>
<div class="col-md-12">
  <span id="backbone-app">
    <p><a class="link-button" href="/register_admin">Register Your Organization</a></p>
  </span>
</div>
