<div style="margin-left: 300px;">

  <h1>+++++++++++++++++++++++++++++++++++++</h1>

  <%= direct_upload_form_for @uploader do |f| %>
    <%= f.file_field :face_photo %>
    <%= f.submit "Upload Image" %>
  <% end %>

  <h1>+++++++++++++++++++++++++++++++++++++</h1>

</div>