<div style="margin-left: 300px;">

  <h1>+++++++++++++++++++++++++++++++++++++</h1>

  <%= direct_upload_form_for @uploader do |f| %>
    <%= f.file_field :image, :class => "btn btn-success btn-medium" %>
    <br>
    <%= f.submit "Upload Your Portrait", :class => "btn btn-primary btn-medium" %>
  <% end %>

  <h1>+++++++++++++++++++++++++++++++++++++</h1>

</div>