<label for="class-schedule" class="field-label">
  {{#if thai_language}}
    {{> application_form/thai/_reg_university }}
  {{^}}
    {{> application_form/english/_reg_university }}
  {{/if}}
</label>
