
<label class="field-label">Class location</label>
<div>
  <select name="site-location" class="site-location-select">

    {{#each regular_class_times}}
      <option value="{{this.period}}">{{this.period}}</option>
    {{/each}}




    <option value="location one">Location #1</option>
    <option value="location two">Location #2</option>
  </select>
</div>

<hr>