%hr
  -@curriculums.each do |curriculum|
    %h2= curriculum.name
    %hr
    - curriculum.courses.each do |course|
      %h3= link_to course.name, curriculum_course_path(curriculum, course), class: 'btn btn-success'