<span aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" class="progress-bar progress-bar<%= style_suffix %>" role="progressbar" style="min-width: 2em; width:<%= width %>">
  <%= completedness %>
</span>
