<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    {{please_click_here}}
  </button>
</p>
<div class="collapse" id="collapseExample">

  <h4>You Can Speak! is a conversational English course specially designed to help Thais improve confidence and clarity in speaking English. The curriculum also helps Thais establish a foundation for building personal and business relationships cross-culturally.</h4>

  <ul>
    <li>Course includes five 90 min classes.</li>
    <li>Each class is taught by TESOL certifed, native English speakers.</li>
    <li>Classes are fun, interactive and focus on helping students speak with clarity and confidence.</li>
    <li>Class includes a free workbook (value 300B).</li>
    <li>The course includes aspects of Western culture and Christian worldview to help Thais effectively build cross-cultural relationships.</li>
    <li>All students who successfully complete the class are awarded a certificate and a free one year membership to City English Project.</li>
    <li>Beginner and Intermediate levels</li>
    <li>Our website is secure.  We will not share your information with anyone!</li>

  </ul>

</div>
