<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    {{please_click_here}}
  </button>
</p>
<div class="collapse" id="collapseExample">

  <ul>
    <li>Only 499 baht!  Please pay on the first day of class — arrive 10 minutes early to pay.</li>
    <li>Classes taught by TESOL certified native English speakers from America</li>
    <li>Focuses on Conversation that builds confidence and clarity</li>
    <li>Practice speaking while learning about international cultures and worldview</li>
    <li>Each class consists of five 90-minute sessions</li>
    <li style="margin-left: 10px; list-style:none;">- 75 minutes of conversational English and culture</li>
    <li style="margin-left: 10px; list-style:none;">- 15 minutes of conversational English and <a data-toggle="modal" href="#" data-target="#christianWorldViewModal">Christian worldview</a></li>
  </ul>

</div>