<ul>
  <li>Only 399 baht!</li>
  <li>Classes taught by TESOL certified native English speakers from America</li>
  <li>Focuses on Conversation that builds confidence and clarity</li>
  <li>Practice speaking while learning about international cultures and worldview</li>
  <li>Each class consists of five 90-minute sessions</li>
  <li style="margin-left: 10px; list-style:none;">- 75 minutes of conversational English and culture</li>
  <li style="margin-left: 10px; list-style:none;">- 15 minutes of English and <a data-toggle="modal" href="#" data-target="#christianWorldViewModal">Christian worldview</a></li>
</ul>

{{!-- <ul>
  <li>Only 299 baht!</li>
  <li>Classes taught by TESOL certified native English speakers from America</li>
  <li>Focuses on Conversation that builds confidence and clarity</li>
  <li>Practice speaking while learning about international cultures and worldview</li>
  <li>Each class consists of five 90-minute sessions</li>
  <li style="margin-left: 10px; list-style:none;">- 75 minutes of conversational English and culture</li>
  <li style="margin-left: 10px; list-style:none;">- 15 minutes of English and <a data-toggle="modal" href="#" data-target="#christianWorldViewModal">Christian worldview</a></li>
</ul>
<hr>

<h2>Schedule for onsite registration at universities</h2>
<h3>Right now, Rajamangala University of Technology Krungthep (UTK)</h3>
<p>2 Nanlinji Road</p>
<p>Schedule:</p>
<p>Monday, 23 May, 11:30am - 1:30pm</p>
<p>Tuesday, 24 May, 11:30am - 1:30pm</p>

<p>Charoen Khrung Road</p>
<p>Schedule:</p>
<p>Monday, 23 May, 11:30am - 1:30pm</p>
<p>Tuesday, 24 May, 11:30am - 1:30pm</p>
 --}}