<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    {{please_click_here}}
  </button>
</p>
<div class="collapse" id="collapseExample">
  {{!-- <div class="card card-block">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div> --}}

  <ul>
    <li>Only 399 baht!</li>
    <li>Classes taught by TESOL certified native English speakers from America</li>
    <li>Focuses on Conversation that builds confidence and clarity</li>
    <li>Practice speaking while learning about international cultures and worldview</li>
    <li>Each class consists of five 90-minute sessions</li>
    <li style="margin-left: 10px; list-style:none;">- 75 minutes of conversational English and culture</li>
    <li style="margin-left: 10px; list-style:none;">- 15 minutes of conversational English and <a data-toggle="modal" href="#" data-target="#christianWorldViewModal">Christian worldview</a></li>
  </ul>

</div>