<p>23 & 24 May</p>

<p>UTK Pra Nakorn Tai, Charoen Krung Road</p>
<p>UTK Tenin, Bangkok Nang Linchi Road</p>

<p>City English Project Office</p>
<p>66 Pan Road, Silom, Bangrak, Bangkok</p>
<p>Tel. 086-6967821</p>