{{> application_form/_choose_options_explained}}
<hr>
<h2>Monday - Friday (5 times)</h2>
<hr>
<select id="five-weeks" name="user[class_time]" class="seminar-session-select">
  <option id="option-with-id" value="select_option" disabled selected> -- select an option -- </option>
      <option value="first">Beginner, 6-10 June, 10:00-11:30am</option>
      <option value="second">High Beginner, 6-10 June, 1:00-2:30pm</option>

      <option value="third">Low Intermediate, 13-17 June, 10:00-11:30am</option>
      <option value="fourth">Beginner, 13-17 June, 1:00-2:30pm</option>

      <option value="fifth">High Beginner, 20-24 June, 10:00-11:30am</option>
      <option value="sixth">Low Intermediate, 20-24 June, 1:00-2:30pm</option>

      <option value="seventh">Beginner, 27 June - 1 July, 10:00-11:30am</option>
      <option value="eighth">High Beginner, 27 June - 1 July, 1:00-2:30pm</option>

      <option value="nineth">Low Intermediate, 4-8 July, 10:00-11:30am</option>
      <option value="tenth">Beginner, 4-8 July, 1:00-2:30pm</option>

      <option value="eleventh">High Beginner, 11-15 July, 10:00-11:30am</option>
      <option value="twelfth">Low Intermediate, 11-15 July, 1:00-2:30pm</option>

      <option value="thirteenth">Beginner, 18-22 July, 10:00-11:30am</option>
      <option value="fourteenth">High Beginner, 18-22 July, 1:00-2:30pm</option>

      <option value="fifteenth">Low Intermediate, 25-29 July, 10:00-11:30am</option>
      <option value="sixteenth">Beginner, 25-29 July, 1:00-2:30pm</option>
</select>
