{{> application_form/_choose_options_explained}}
<hr>
{{> application_form/_reg_university_explained}}
<hr>
<select id="five-weeks" name="user[class_time]" class="seminar-session-select">
  <option id="option-with-id" value="select_option" disabled selected> -- select an option -- </option>
      <option value="mondayfive">Beginner, Monday-Friday, 6-10 June (5 times), 10:00-11:30am</option>
      <option value="mondayfive">High Beginner, Monday-Friday, 6-10 June (5 times), 1:00-2:30pm</option>

      <option value="mondayfive">Low Intermediate, Monday-Friday, 13-17 June (5 times), 10:00-11:30am</option>
      <option value="mondayfive">Beginner, Monday-Friday, 13-17 June (5 times), 1:00-2:30pm</option>

      <option value="mondayfive">High Beginner, Monday-Friday, 20-24 June (5 times), 10:00-11:30am</option>
      <option value="mondayfive">Low Intermediate, Monday-Friday, 20-24 June (5 times), 1:00-2:30pm</option>

      <option value="mondayfive">Beginner, Monday-Friday, 27 June - 1 July (5 times), 10:00-11:30am</option>
      <option value="mondayfive">High Beginner, Monday-Friday, 27 June - 1 July (5 times), 1:00-2:30pm</option>

      <option value="mondayfive">Low Intermediate, Monday-Friday, 4-8 July (5 times), 10:00-11:30am</option>
      <option value="mondayfive">Beginner, Monday-Friday, 4-8 July (5 times), 1:00-2:30pm</option>

      <option value="mondayfive">High Beginner, Monday-Friday, 11-15 July (5 times), 10:00-11:30am</option>
      <option value="mondayfive">Low Intermediate, Monday-Friday, 11-15 July (5 times), 1:00-2:30pm</option>

      <option value="mondayfive">Beginner, Monday-Friday, 18-22 July (5 times), 10:00-11:30am</option>
      <option value="mondayfive">High Beginner, Monday-Friday, 18-22 July (5 times), 1:00-2:30pm</option>

      <option value="mondayfive">Low Intermediate, Monday-Friday, 25-29 July (5 times), 10:00-11:30am</option>
      <option value="mondayfive">Beginner, Monday-Friday, 25-29 July (5 times), 1:00-2:30pm</option>
</select>
