{{> application_form/_choose_options_explained}}
<hr>
<h2>Monday - Friday (5 times)</h2>
<hr>
<select id="five-weeks" name="user[class_time]" class="seminar-session-select">
  <option id="option-with-id" value="select_option" disabled selected> -- select an option -- </option>
      <option value="Beginner, 6-10 June, 10:00-11:30am">Beginner, 6-10 June, 10:00-11:30am</option>
      <option value="High Beginner, 6-10 June, 1:30-3:00pm">High Beginner, 6-10 June, 1:30-3:00pm</option>

      <option value="Beginner, 13-17 June, 10:00-11:30am">Beginner, 13-17 June, 10:00-11:30am</option>
      <option value="Low Intermediate, 13-17 June, 1:30-3:00pm">Low Intermediate, 13-17 June, 1:30-3:00pm</option>

      <option value="High Beginner, 20-24 June, 10:00-11:30am">High Beginner, 20-24 June, 10:00-11:30am</option>
      <option value="Low Intermediate, 20-24 June, 1:30-3:00pm">Low Intermediate, 20-24 June, 1:30-3:00pm</option>

      <option value="Beginner, 27 June - 1 July, 10:00-11:30am">Beginner, 27 June - 1 July, 10:00-11:30am</option>
      <option value="High Beginner, 27 June - 1 July, 1:30-3:00pm">High Beginner, 27 June - 1 July, 1:30-3:00pm</option>

      <option value="Low Intermediate, 4-8 July, 10:00-11:30am">Low Intermediate, 4-8 July, 10:00-11:30am</option>
      <option value="Beginner, 4-8 July, 1:30-3:00pm">Beginner, 4-8 July, 1:30-3:00pm</option>

      <option value="High Beginner, 11-15 July, 10:00-11:30am">High Beginner, 11-15 July, 10:00-11:30am</option>
      <option value="Low Intermediate, 11-15 July, 1:30-3:00pm">Low Intermediate, 11-15 July, 1:30-3:00pm</option>

      <option value="Beginner, 18-22 July, 10:00-11:30am">Beginner, 18-22 July, 10:00-11:30am</option>
      <option value="High Beginner, 18-22 July, 1:30-3:00pm">High Beginner, 18-22 July, 1:30-3:00pm</option>

      <option value="Low Intermediate, 25-29 July, 10:00-11:30am">Low Intermediate, 25-29 July, 10:00-11:30am</option>
      <option value="Beginner, 25-29 July, 1:30-3:00pm">Beginner, 25-29 July, 1:30-3:00pm</option>
</select>
