{{> application_form/_choose_options_explained}}
<hr>
<h2 class="schedule-options">Monday - Friday (5 times)</h2>
<hr>
<select id="univ-select" name="class_time_scheduled" class="seminar-session-select">

  <option id="option-with-id" value="select_option" disabled selected> -- select an option -- </option>

  {{#each class_times}}
      <option value="{{this.period}}">{{this.period}}</option>
  {{/each}}
 
</select>
