<h4>For more information visit us at...</h4>

<ul style="list-style-type:none">
  <li>City English Project Office</li>
  <li>66 Pan Road, Silom,</li>
  <li>Bangrak, Bangkok 10500</li>
  <li>Tel. 086-696-7821</li>
</ul>

<hr>
<hr>