<h4>For more information visit us on May 23 or 24 at...</h4>

<ul>
  <li>UTK lira Nakorn Tai, Charoen Krung Road</li>
  <li>UTK Tenin, Bangkok Nang Linchi Road</li>
</ul>

...or...

<ul style="list-style-type:none">
  <li>City English Project Office</li>
  <li>66 Pan Road, Silom, Bangrak, Bangkok</li>
  <li>Tel. 086-696-7821</li>
</ul>

<hr>
<hr>