<h3>Please write to us at 'info@cityenglishproject.com' if you have any questions.</h3>
<hr>

<img class="welcome-popup" src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Step+One.png" alt="Thank you!">

<hr>
<h3>We hope you have a great time learning English with CEP!!</h3>

<hr>
Copyright © City English Project 2016
All rights reserved.