<div class="entire-nav">
  <!-- templates/front/nav_bar.hbs -->
</div>

<div class="entire">
</div>

<div class="entire-footer">
  <!-- templates/front/footer.hbs -->
</div>

<div id="applicationmodal" class="modal fade" role="dialog"></div>

<div id="welcomepopupmodal" class="modal fade" role="dialog"></div>

<div id="loginmodal" class="modal fade" role="dialog"></div>

<div id="locationpicturesmodal" class="modal fade" role="dialog"></div>

<% if current_user %>
  <div id="user-now" data-present-user="<%= current_user.to_json %>">
  </div>

  <% guest_students = User.where("users.role = ?", "student").where("users.guest = ?", "TRUE") %>

  <div id="guests-now" data-guest-students="<%= guest_students.to_json %>">
  </div>

<% end %>