<div class="entire-nav">
  <!-- templates/front/nav_bar.hbs -->
</div>

<div id="page-here" class="entire">
</div>

<div class="entire-footer">
  <!-- templates/front/footer.hbs -->
</div>

<% unless current_user %>
<div id="freeeventsmodal" class="modal fade" role="dialog"></div>

<div id="generalschedulemodal" class="modal fade" role="dialog"></div>

<div id="classdetailsmodal" class="modal fade" role="dialog"></div>

<div id="historymodal" class="modal fade" role="dialog"></div>

<div id="applicationmodal" class="modal fade" role="dialog"></div>

<div id="welcomepopupmodal" class="modal fade" role="dialog"></div>

<div id="converseonlinemodal" class="modal fade" role="dialog"></div>

<div id="loginmodal" class="modal fade" role="dialog"></div>

<div id="locationpicturesmodal" class="modal fade" role="dialog"></div>

<div id="adminregformmodal" class="modal fade" role="dialog"></div>

<div id="registervolunteermodal" class="modal fade" role="dialog"></div>

<div id="volunteerprofile" class="modal fade" role="dialog"></div>
<% end %>

<% if current_user %>
  <div id="user-now" data-present-user="<%= current_user.to_json %>"></div>
  <div id="user-slots" data-user-slots="<%= current_user.skype_time_slots.to_json %>"></div>
<% end %>


