<div class="entire-nav">
  <!-- templates/front/nav_bar.hbs -->
</div>

<div class="entire">
</div>

<div class="entire-footer">
  <!-- templates/front/footer.hbs -->
</div>

<div id="applicationmodal" class="modal fade" role="dialog"></div>


<div id="overlay">
  <!-- for .hbs templates (sessions & registration) -->
</div>
