<div class="entire-nav" style="-webkit-overflow-scrolling: touch;">
  <!-- templates/front/nav_bar.hbs -->
</div>

<div class="entire" style="-webkit-overflow-scrolling: touch;">
</div>

<div class="entire-footer" style="-webkit-overflow-scrolling: touch;">
  <!-- templates/front/footer.hbs -->
</div>

<div id="applicationmodal" class="modal fade" role="dialog"></div>


<div id="overlay">
  <!-- for .hbs templates (sessions & registration) -->
</div>
