<section class="bsc-container">
  <header>
    <h1>Welcome to the "City English Project"!!</h1>
    <hr>
    <h2>From here, you can request an American "Skype Conversation Partner."</h2>
    <hr>
  </header>
</section>
