<script type = "text/javascript" >
  history.pushState(null, null, 'dashboard');
  window.addEventListener('popstate', function(event) {
    history.pushState(null, null, 'dashboard');
  });
</script>

<section class="bsc-container">
  <header>
    <h1>Welcome to the "City English Project"!!</h1>
    <hr>
    <% if current_user.volunteer? || current_user.admin? %>
      <h2>You are here on "Volunteer Status"</h2>
      <hr>
    <% end %>
    <h2>From here, you can request an American "Skype Conversation Partner."</h2>
    <hr>
  </header>
</section>
