<!-- Front Page Intro -->
<div class='row'>
  <div class='col-lg-12'>
    <h1 class='page-header'>
      Welcome to BSC Online
    </h1>
  </div>
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4>
          <i class='fa fa-fw fa-check'></i>
          Thingy One
        </h4>
      </div>
      <div class='panel-body'>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
        <a class='btn btn-default' href='#'>Learn More</a>
      </div>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4>
          <i class='fa fa-fw fa-gift'></i>
          Thingy Two
        </h4>
      </div>
      <div class='panel-body'>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
        <a class='btn btn-default' href='#'>Learn More</a>
      </div>
    </div>
  </div>
  <div class='col-md-4'>
    <div class='panel panel-default'>
      <div class='panel-heading'>
        <h4>
          <i class='fa fa-fw fa-compass'></i>
          Thingy Three
        </h4>
      </div>
      <div class='panel-body'>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
        <a class='btn btn-default' href='#'>Learn More</a>
      </div>
    </div>
  </div>
</div>
<!-- /.row -->
<hr>
  <!-- Call to Action Section -->
  <div class='well'>
    <div class='row'>
      <div class='col-md-8'>
        <p>Hello ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class='col-md-4'>
        <%= link_to "Try it now!", users_path, method: :post, :class => 'btn btn-default' %>
      </div>
    </div>
  </div>
</hr>