
/ Front Page Intro
.row
  .col-lg-12
    %h1.page-header
      Welcome to BSC Online
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4
          %i.fa.fa-fw.fa-check
          Thingy One
      .panel-body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
        %a.btn.btn-default{:href => "#"} Learn More
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4
          %i.fa.fa-fw.fa-gift
          Thingy Two
      .panel-body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
        %a.btn.btn-default{:href => "#"} Learn More
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4
          %i.fa.fa-fw.fa-compass
          Thingy Three
      .panel-body
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?
        %a.btn.btn-default{:href => "#"} Learn More
/ /.row
%hr
  / Call to Action Section
  .well
    .row
      .col-md-8
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.
      .col-md-4
        
        = link_to "Try a Free Sample Course", users_path, method: :post, class: 'a btn btn-lg btn-default btn-block'
  %hr