%section.site_title
  %hr
  %h1
    ยินดีต้อนรับ...และ...Welcome!!
  %hr
  %h1
    เชินเข้ามาเรียนภาษาอังกฤษกับเราอยู่ที่ "BSC English Online!"
  %hr
  %h1 Here are our current course offerings!
  - @courses.each do |course|
    %h3= link_to course.name, course_path(course), class: 'btn btn-success'

