%section.site_title
  %hr
  %h1
    ยินดีต้อนรับ...และ...Welcome!!
  %hr
  %h1
    เชินเข้ามาเรียนภาษาอังกฤษกับเราอยู่ที่ "BSC English Online!"
  %hr
  %h1
    = link_to "I want to take a free sample course at BSC Online!", sign_up_path, class: 'btn btn-primary'
  %hr
