%section.site_title
  %hr
  %h1
    This is the Navigation Bar...
    = link_to "Sign In", "#" # sign_in_path
    or
    = link_to "Register", "#" # register_path
    or...
    = link_to "Learn more about Jesus Christ / พระเยซูคริสต์", "#"
  %hr
  %h1
    เชินเข้ามาเรียนภาษาอังกฤษกับเราอยู่ที่ "BSC English Online!"
  %hr
  %h1
    = link_to "Come and see our list of courses!", courses_path
