<% content_for(:title, "#{current_user.first_name} " + "#{current_user.last_name}")%>

<!-- script disables browser back button for this page -->
<script type = "text/javascript" >
  history.pushState(null, null, 'student');
  window.addEventListener('popstate', function(event) {
    history.pushState(null, null, 'student');
  });
</script>

<section class="bsc-container">

  <div>

    <%= image_tag current_user.image %>


    <h1><%= "Welcome to the \"City English Project,\" #{current_user.first_name}!!" %></h1>
    <hr>
    <h2>You are here in "student" status.</h2>

    <hr>
    <h2>From here, you can request an American "Skype Conversation Partner."</h2>
    <hr>
    <h2>Here is a list of available Skype-partner English teachers. </h2>
    <ul>
      <% if @%>
      <% @volunteers.each do |volunteer| %>
        <li><h3>

          <span id="backbone-app">
            <%= link_to volunteer.first_name + " " + volunteer.last_name + " -- request " + "#{volunteer.gender == 'male' ? 'him' : 'her'}" + " as a Skype teacher.", "/volunteers/" + volunteer.id.to_s %>
          </span>

        </h3></li>
      <% end %>
    </ul>

  </div>

</section>

<!-- <div id="overlay">
  for .hbs templates (sessions & registration)
</div>
 -->

