<div class="entire-vol">


<div class="container-full main" id="page-top">
  <div class="row">
    <div class="col-md-12 backg-vol">
      <div class="col-md-6 col-md-offset-3 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <div class="text-box">
          <p class="intro">Welcome</p>
          <h2>Volunteers!</h2>
          <h3>Here is an overview of CEP for you.</h3>
          <h3>Let's take a look below!</h3>
          <div class="col-md-12">
            <span id="backbone-app">
              <p><a class="link-button" href="/register_volunteer">Register as a Volunteer</a></p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 some-notes">
      <div class="title">
        <h2>Project Overview</h2>
      </div>
      <div class="desc">
        <p class="paragraph">
          Here is an overview of what CEP is all about...for volunteers!
        </p>
        </br>
        <h2 class="partners">Let's look at the details below....</h2>
      </div>
    </div>
  </div>
</div>


<!-- Steps to becoming a CEP volunteer -->
<div class="container-full features" id="features">
  <h2 class="text-center features-text">Steps to becoming a CEP volunteer</h2>
  <div class="row">
     <div class="col-md-4">  
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/On-site+classes.png" alt="Class Scene" align="middle">
          <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            <h4>Step 1: Register your church, business or organization</h4>
            <p>In order to ensure that our CEP students receive the highest quality English education experience possible, we ask that you first register your church, business or organization.</p>
            <span id="backbone-app">
              <%= link_to "Click to Register", register_volunteer_path, :class => "btn btn-success" %>
            </span>


          </div>
        </div>
     </div>
     <div class="col-md-4"> 
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Conversation.png" alt="Class Scene" align="middle">
          <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            <h4>Step 2: Log in (after you have received your PIN number)!</h4>
            <p>On big page: "Member sign-in" (not activated yet until password or PIN is given to this potential volunteer.) --> This button will go to a sign-in page which is only enterable/functional after you've gotten your PIN number.</p>
            <%= link_to "Member sign-in", "#", :class => "btn btn-success" %>
          </div>
        </div>
     </div>
     <div class="col-md-4">
        <div class="picturing">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/On-site+classes.png" alt="Class Scene" align="middle">
          <div class="col-md-13 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            <h4>Step 3: Invite other potential volunteers!</h4>
            <p>With the huge demand for English by Thai students, we are always looking for new volunteers to join us!</p>
          </div>
        </div>
     </div>
  </div>
</div> <!-- Steps to becoming a CEP volunteer -->

</div> <!-- class="entire-vol" -->


<!-- Former location of 'login' -->
<div id="overlay"><!-- .hbs --></div>













<section class="bsc-container">

  <form novalidate="novalidate" class="simple_form new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value={{token}}>
    <header>
      <h1>Notes for Matt (here & below)...to be removed later (including the form)....</h1>
      <hr>
      <h1>Join an exciting team of City English Project (CEP) volunteers!</h1>
      <hr>
      <h2>
        Here is the Volunteer Overview Page--big scroll-down page with buttons at the bottom!!!
      </h2>
      <hr>
      <h4>
        On big page: Project overview.
      </h4>
      <hr>
      <h4>
        On big page: Steps to becoming a CEP volunteer.
      </h4>
      <hr>
      <h4>
        On big page: BUTTON: "Register your church, business, etc."
      </h4>
      <hr>
      <h4>
        On big page: BUTTON: "Member sign-in" (not activated yet until password or PIN is given to this potential volunteer.) --> This button will go to a sign-in page which is only enterable/functional after you've gotten your PIN number.
      </h4>

      <hr>
      <h2>
        From BUTTON to church Registration page: 
          - Application form for church
          - BUTTON on Reg page.... Upon submission, an email will be sent back to YOU (the prospective volunteer) within 48 hours.
      </h2>
      <hr>
      <h4>
        On the email received about 48 hours later will be a BUTTON or a link bringing them back to the 'Volunteer Overview Page'."  [They now have the PIN number.  When they click onto "Member sign-in" BUTTON and go to the form, the form will now be enterable for them.]
      </h4>
      <hr>
      <h2>  {{!-- "Member" = "PIN holder" --}}
        Member Page (only accessible from "Member sign-in" page which had only worked with a PIN.)
      </h2>
        <h4>
          "Welcome to the Volunteer Member Page "
          Introduction: Paragraph, Logo, Picture, etc...
        </h4>
        <h4>
          Square (Thumbnail) Link: "Bring a Volunteer Team"
          {{!-- ---> This link will go to a form for the Mission team to fill out --}}
        </h4>
        <h4>
          Square (Thumbnail) Link: "Be a Skype Partner"
          {{!-- ---> This link will go to a form for an individual for a Skype partnership --}}
        </h4>


      <hr>
    </header>


  {{!--   These form fields below are not needed here!!! --}}


    <h3>
      <label for="user_first_name">First Name</label>
    </h3>
    <h3 class="black_field">
      <input type="email" name="user[first_name]" id="user_first_name">
    </h3>

    <h3>
      <label for="user_last_name">Last Name</label>
    </h3>
    <h3 class="black field">
      <input type="email" name="user[last_name]" id="user_last_name">
    </h3>

    <h3>
      <label for="user_email">Email Address</label>
    </h3>
    <h3 class="black field">
      <input type="email" name="user[email]" id="user_email">
    </h3>

    <h3>
      <label for="user_password">Password</label>
    </h3>
    <h3 class="black field">
      <input type="password" name="user[password]" id="user_password">
    </h3>

    <h3>
      <label for="user_password_confirmation">Password Confirmation</label>
    </h3>
    <h3 class="black field">
      <input type="password" name="user[password_confirmation]" id="user_password_confirmation">
    </h3>

    <h3>
      <label for="user_postal_code">Postal Code</label>
    </h3>
    <h3 class="black field">
      <input type="email" name="user[postal_code]" id="user_postal_code">
    </h3>
    <br>
    <input type="submit" name="commit" value="Join CEP!" class="btn btn-success">
  </form>

</section>






