<div class="title">Events</div>
<div class="events">
   {{#each .}}
      <div class="event">
        <div class="notes">
          <span class="answer">{{name}}</span> 
          </br>
          <span class="answer">{{notes}}</span> 
        </div>
      </div>
   {{/each}}
</div>