<h1>New event</h1>

<form id="new-event" name="event">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" >
  </div>

  <div class="field">
    <label for="month"> month:</label>
    <input type="text" name="month" id="month" >
  </div>

  <div class="field">
    <label for="date"> date:</label>
    <input type="text" name="date" id="date" >
  </div>

  <div class="field">
    <label for="notes"> notes:</label>
    <input type="text" name="notes" id="notes">
  </div>

  <div class="actions">
    <input type="submit" value="Create Event" />
  </div>

</form>

<a href="#index">Back</a>