<section class="site_title">
  <header>
    <h2>
      <%= "From Lesson \"#{@story.lesson.name}\" you can read it in this version:" %>
    </h2>
    <br/>
    <h3>
      <%= "#{@story.lesson_language_version}" %>
    </h3>
    <hr/>
    <div id="videoDiv">
      <iframe allowtransparency="true" class="wistia_embed" frameborder="0" height="388" name="wistia_embed" scrolling="no" src="//fast.wistia.net/embed/iframe/l6fwvs4945" width="490"></iframe>
      <script src="//fast.wistia.net/assets/external/E-v1.js"></script>
    </div>
  </header>
</section>
