<section class="bsc-container">
  <header>
    <h2>
      <%= "From Lesson \"#{@story.lesson.name}\" you can read it in this version:" %>
    </h2>
    <br/>
    <h3>
      <%= "#{@story.lesson_language_version}" %>
    </h3>
    <hr/>
    <div id="videoDiv">
      <iframe src="//fast.wistia.net/embed/iframe/c9qxj5t2hv" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>
      <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
    </div>

  </header>
</section>
