<div class="container">
  <hr>
  <h2>You can create new class times here</h2>
  <hr>
  <h3>Please be sure to use a format like this...</h3>
  <hr>
  <h3>"20-24 June, 5:00-6:30pm"</h3>
  <h4>...or...</h4>
  <h3>"Low Intermediate, 20-24 June, 1:30-3:00pm"</h3>
  <h4>(but don't add quotes)</h4>
  <hr>

  <%= form_for @class_time do |f| %>
    <h3><%= f.text_area :period %></h3>
    <%= f.submit "Create", :class => 'btn btn-success' %>
  <% end %>
  <hr>
</div>