<div class="container">

  <h2>Here is a list of CEP class times.</h2>
  <br>
  {{#if no_class_times}}
    <h3>No class times scheduled at this time</h3>
  {{^}}
    <ul style="list-style-type:none">
      <hr>
    {{#each class_times}}
      <li >
        <h3 style="text-decoration: underline;">{{this.period}}</h3>
        <h4>{{this.students}}</h4>
        <hr>
      </li>
    {{/each}}
    </ul>
  {{/if}}


</div>