<h2>(2) Delete a class time</h2>
<hr>

<ul>
  {{#each class_times}}
    <li>
      <h3>{{this.period}}<a data-id={{this.id}} id="delete-class-time" href="" > Delete</a></h3>
    </li>
  {{/each}}
</ul>

<hr>

<hr>
<h2><a href="/log_out">Log Out</a></h2>
<hr>

