<br>
<select name="skype-day" class="skype-day-select">
  <option id="option-with-id" value="select_option" selected> -- Day for Skyping -- </option>
  <option value="sunday">Sunday</option>
  <option value="monday">Monday</option>
  <option value="tuesday">Tuesday</option>
  <option value="wednesday">Wednesday</option>
  <option value="thursday">Thursday</option>
  <option value="friday">Friday</option>
  <option value="saturday">Saturday</option>
</select>

<br>
<br>
<select name="skype-m" class="skype-m-select">
  <option id="option-with-id" value="select_option" selected> -- AM or PM? -- </option>
  <option value="AM">AM</option>
  <option value="PM">PM</option>
</select>

<br>
<br>
<select name="skype-time" class="skype-time-select">
  <option id="option-with-id" value="select_option" selected> -- Time for Skyping -- </option>
  <option value="twelve">12:00 - 12:30 EST</option>
  <option value="twelve-thirty">12:30 - 1:00 EST</option>
  <option value="one">1:00 - 1:30 EST</option>
  <option value="one-thirty">1:30 - 2:00 EST</option>
  <option value="two">2:00 - 2:30 EST</option>
  <option value="two-thirty">2:30 - 3:00 EST</option>
  <option value="three">3:00 - 3:30 EST</option>
  <option value="three-thirty">3:30 - 4:00 EST</option>
  <option value="four">4:00 - 4:30 EST</option>
  <option value="four-thirty">4:30 - 5:00 EST</option>
  <option value="five">5:00 - 5:30 EST</option>
  <option value="five-thirty">5:30 - 6:00 EST</option>
  <option value="six">6:00 - 6:30 EST</option>
  <option value="six-thirty">6:30 - 7:00 EST</option>
  <option value="seven">7:00 - 7:30 EST</option>
  <option value="seven-thirty">7:30 - 8:00 EST</option>
  <option value="eight">8:00 - 8:30 EST</option>
  <option value="eight-thirty">8:30 - 9:00 EST</option>
  <option value="nine">9:00 - 9:30 EST</option>
  <option value="nine-thirty">9:30 - 10:00 EST</option>
  <option value="ten">10:00 - 10:30 EST</option>
  <option value="ten-thirty">10:30 - 11:00 EST</option>
  <option value="eleven">11:00 - 11:30 EST</option>
  <option value="eleven-thirty">11:30 - 12:00 EST</option>
</select>
<p class="est-times">All times Eastern Standard Time (EST) zone. We will convert your time choice automatically into Thailand's time zone for the student to see.</p>
<br>
<br>


