<br>
<select name="skype-day" class="skype-day-select">
  <option id="option-with-id" value="select_option" selected> -- Day for Skyping -- </option>
  <option data-order="1" value="Sunday">Sunday</option>
  <option data-order="2" value="Monday">Monday</option>
  <option data-order="3" value="Tuesday">Tuesday</option>
  <option data-order="4" value="Wednesday">Wednesday</option>
  <option data-order="5" value="Thursday">Thursday</option>
  <option data-order="6" value="Friday">Friday</option>
  <option data-order="7" value="Saturday">Saturday</option>
</select>

<br>
<br>
<select name="skype-time" class="skype-time-select">
  <option id="option-with-id" value="select_option" selected> -- Time for Skyping -- </option>
  <option data-order="1" value="12:00 - 1:00">12:00 - 1:00 EST</option>
  <option data-order="2" value="1:00 - 2:00">1:00 - 2:00 EST</option>
  <option data-order="3" value="2:00 - 3:00">2:00 - 3:00 EST</option>
  <option data-order="4" value="3:00 - 4:00">3:00 - 4:00 EST</option>
  <option data-order="5" value="4:00 - 5:00">4:00 - 5:00 EST</option>
  <option data-order="6" value="5:00 - 6:00">5:00 - 6:00 EST</option>
  <option data-order="7" value="6:00 - 7:00">6:00 - 7:00 EST</option>
  <option data-order="8" value="7:00 - 8:00">7:00 - 8:00 EST</option>
  <option data-order="9" value="8:00 - 9:00">8:00 - 9:00 EST</option>
  <option data-order="10" value="9:00 - 10:00">9:00 - 10:00 EST</option>
  <option data-order="11" value="10:00 - 11:00">10:00 - 11:00 EST</option>
  <option data-order="12" value="11:00 - 12:00">11:00 - 12:00 EST</option>
</select>

<br>
<br>
<select name="skype-m" class="skype-m-select">
  <option id="option-with-id" value="select_option" selected> -- AM or PM? -- </option>
  <option data-order="1" value="AM EST">AM</option>
  <option data-order="2" value="PM EST">PM</option>
</select>
<p class="est-times">All times Eastern Standard Time (EST) zone. We will convert your time choice automatically into Thailand's time zone for the student to see.</p>

<br>
<div class="button-for-skype">
  <button id="add-skype-slots" class="btn btn-primary">Submit</button>
</div>

