{{!-- <br>
<h4 style="margin-top: -10px;">We recommend that you set a range of time-slots.  For example, you could select  6:00 - 6:30am through 9:30 - 10:00am.  In that case, you'd have 8 slots under "List of your available time slots:" below.  After you've selected your 8 (or other number of) slots, you'll see a number-selector under the your "List of your available time slots:".  From that selector, choose how many of the 8 (or other number of) slots that you'll be available to actually converse weekly with a Thai student -- 1? 2? ... 4? -- it's up to you.  That number will limit the number of Thai students who can converse with you within your range.</h4> --}}
<br>
<select name="skype-day" id="skype-day-select">
  <option id="option-with-id" value="select_option" selected> -- Day for Skyping -- </option>
  <option data-orderday="1" value="Sunday">Sunday</option>
  <option data-orderday="2" value="Monday">Monday</option>
  <option data-orderday="3" value="Tuesday">Tuesday</option>
  <option data-orderday="4" value="Wednesday">Wednesday</option>
  <option data-orderday="5" value="Thursday">Thursday</option>
  <option data-orderday="6" value="Friday">Friday</option>
  <option data-orderday="7" value="Saturday">Saturday</option>
</select>

<br>
<br>
<select name="skype-time" id="skype-time-select">
  <option id="option-with-id" value="select_option" selected> -- Time for Skyping -- </option>
  <option data-ordertime="1" value="12:00 - 12:30">12:00 - 12:30 EST</option>
  <option data-ordertime="2" value="12:30 - 1:00">12:30 - 1:00 EST</option>

  {{!-- <option data-ordertime="3" value="1:00 - 1:30">1:00 - 1:30 EST</option>
  <option data-ordertime="4" value="1:30 - 2:00">1:30 - 2:00 EST</option>

  <option data-ordertime="5" value="2:00 - 2:30">2:00 - 2:30 EST</option>
  <option data-ordertime="6" value="2:30 - 3:00">2:30 - 3:00 EST</option>

  <option data-ordertime="7" value="3:00 - 3:30">3:00 - 3:30 EST</option>
  <option data-ordertime="8" value="3:30 - 4:00">3:30 - 4:00 EST</option>

  <option data-ordertime="9" value="4:00 - 4:30">4:00 - 4:30 EST</option>
  <option data-ordertime="10" value="4:30 - 5:00">4:30 - 5:00 EST</option> --}}

  <option data-ordertime="11" value="5:00 - 5:30">5:00 - 5:30 EST</option>
  <option data-ordertime="12" value="5:30 - 6:00">5:30 - 6:00 EST</option>

  <option data-ordertime="13" value="6:00 - 6:30">6:00 - 6:30 EST</option>
  <option data-ordertime="14" value="6:30 - 7:00">6:30 - 7:00 EST</option>

  <option data-ordertime="15" value="7:00 - 7:30">7:00 - 7:30 EST</option>
  <option data-ordertime="16" value="7:30 - 8:00">7:30 - 8:00 EST</option>

  <option data-ordertime="17" value="8:00 - 8:30">8:00 - 8:30 EST</option>
  <option data-ordertime="18" value="8:30 - 9:00">8:30 - 9:00 EST</option>

  <option data-ordertime="19" value="9:00 - 9:30">9:00 - 9:30 EST</option>
  <option data-ordertime="20" value="9:30 - 10:00">9:30 - 10:00 EST</option>

  <option data-ordertime="21" value="10:00 - 10:30">10:00 - 10:30 EST</option>
  <option data-ordertime="22" value="10:30 - 11:00">10:30 - 11:00 EST</option>

  <option data-ordertime="23" value="11:00 - 11:30">11:00 - 11:30 EST</option>
  <option data-ordertime="24" value="11:30 - 12:00">11:30 - 12:00 EST</option>
</select>

<br>
<br>
<select name="skype-m" id="skype-m-select">
  <option id="option-with-id" value="select_option" selected> -- AM or PM? -- </option>
  <option data-orderam="1" value="AM EST">AM</option>
  <option data-orderam="2" value="PM EST">PM</option>
</select>


