<br>
<select name="skype-day" id="skype-day-select">
  <option id="option-with-id" value="select_option" selected> -- Day for Skyping -- </option>
  <option data-orderday="1" data-daythai="วันอาทิตย์" value="Sunday">Sunday</option>
  <option data-orderday="2" data-daythai="วันจันทร์" value="Monday">Monday</option>
  <option data-orderday="3" data-daythai="วันอังคาร" value="Tuesday">Tuesday</option>
  <option data-orderday="4" data-daythai="วันพุธ" value="Wednesday">Wednesday</option>
  <option data-orderday="5" data-daythai="วันพฤหัสบดี" value="Thursday">Thursday</option>
  <option data-orderday="6" data-daythai="วันศุกร์" value="Friday">Friday</option>
  <option data-orderday="7" data-daythai="วันเสาร์" value="Saturday">Saturday</option>
</select>

<br>
<br>
<select name="skype-time" id="skype-time-select">
  <option id="option-with-id" value="select_option" selected> -- Time for Skyping -- </option>
  <option data-ordertime="1"  data-timethai="12:00-13:00น." value="12:00 - 1:00">12:00 - 1:00 EST</option>
  <option data-ordertime="2"  data-timethai="13:00-14:00น." value="1:00 - 2:00">1:00 - 2:00 EST</option>
  <option data-ordertime="3"  data-timethai="14:00-15:00น." value="2:00 - 3:00">2:00 - 3:00 EST</option>
  <option data-ordertime="4"  data-timethai="15:00-16:00น." value="3:00 - 4:00">3:00 - 4:00 EST</option>
  <option data-ordertime="5"  data-timethai="16:00-17:00น." value="4:00 - 5:00">4:00 - 5:00 EST</option>
  <option data-ordertime="6"  data-timethai="17:00-18:00น." value="5:00 - 6:00">5:00 - 6:00 EST</option>
  <option data-ordertime="7"  data-timethai="18:00-19:00น." value="6:00 - 7:00">6:00 - 7:00 EST</option>
  <option data-ordertime="8"  data-timethai="19:00-20:00น." value="7:00 - 8:00">7:00 - 8:00 EST</option>
  <option data-ordertime="9"  data-timethai="20:00-21:00น." value="8:00 - 9:00">8:00 - 9:00 EST</option>
  <option data-ordertime="10"  data-timethai="21:00-22:00น." value="9:00 - 10:00">9:00 - 10:00 EST</option>
  <option data-ordertime="11"  data-timethai="22:00-23:00น." value="10:00 - 11:00">10:00 - 11:00 EST</option>
  <option data-ordertime="12"  data-timethai="23:00-00:00น." value="11:00 - 12:00">11:00 - 12:00 EST</option>
</select>

<br>
<br>
<select name="skype-m" id="skype-m-select">
  <option id="option-with-id" value="select_option" selected> -- AM or PM? -- </option>
  <option data-orderam="1" value="AM EST">AM</option>
  <option data-orderam="2" value="PM EST">PM</option>
</select>


