<!-- script disables browser back button for this page -->
<script type = "text/javascript" >
  history.pushState(null, null, 'dashboard');
  window.addEventListener('popstate', function(event) {
    history.pushState(null, null, 'dashboard');
  });
</script>

<div class="container">
  <br>
  <br>
  <br>
  <br>

  <div>
    <h2><a href="/log_out">ออกจากระบบ</a></h2>
    <hr>
    <h2>{{welcome_note}}</h2>

  </div>

</div>

<script>
  
  
</script>



