<!-- script disables browser back button for this page -->
<script type = "text/javascript" >
  history.pushState(null, null, 'dashboard');
  window.addEventListener('popstate', function(event) {
    history.pushState(null, null, 'dashboard');
  });
</script>

<div class="container">
  <br>
  <br>
  <br>
  <br>

  <div>
    <h2><a href="/log_out">Log Out</a></h2>
    <hr>
    <h2>{{welcome_note}}</h2>

    <br>
    <h2>
      {{#if thai_language}}
        {{> dashboard/thai/_in_future }}
      {{^}}
        {{> dashboard/english/_in_future }}
      {{/if}}
    </h2>

    <br>
    <h2>
      {{#if thai_language}}
        {{> dashboard/thai/_send_email }}
      {{^}}
        {{> dashboard/english/_send_email }}
      {{/if}}
    </h2>

  </div>

</div>

