<!-- script disables browser back button for this page -->
<script type = "text/javascript" >
  history.pushState(null, null, 'dashboard');
  window.addEventListener('popstate', function(event) {
    history.pushState(null, null, 'dashboard');
  });
</script>


<div id="volunteer-dashboard-template" class="container">
  <br>
  <br>
  <br>
  <br>

  <hr>
  <h2><a href="/log_out">Log Out</a></h2>
  <hr>

  <div>
    <h2 id="volunteer-welcome">Welcome to the "City English Project," {{volunteer.first_name}} as a Skype-partner!</h2>
    <hr>

    <form novalidate="novalidate" class="simple_form application_form" id="new_user" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value={{token}}>

      <h2>Please choose several time slots that are convenient for you.  Your Thai student will select only <b>one</b> from your list of 30-minute available time slots (to be built by you here) and send you an auto-email telling you the chosen slot.  The student will then meet with you weekly online over an 8-week term.</h2>
      <h2 class="skype-slot-choice" style="color: #337ab7; cursor: pointer;" data-toggle="collapse" data-target="#collapseSkypeTime" aria-expanded="false" aria-controls="collapseSkypeTime">
        <span id="open-to-add">Click to add time slot</span>
      </h2>
      <div class="collapse" id="collapseSkypeTime">
        {{> select_skype_time}}
        <p class="est-times">All times Eastern Standard Time (EST) zone. We will convert your time slot choices automatically into Thailand's time zone for the student to see.</p>

        <br>
        <div class="button-for-skype">
          <button id="add-skype-slots" class="btn btn-primary">Submit</button>
        </div>
      </div>

      <h4 id="choosing-many-slots">(You can choose as many slots as you like.)</h4>

    </form>
    <hr>

    <h3 id="list-avail-skype">List of your available time slots:</h3>
    <!-- insert 'SkypeTimeSlotsView' template here-->
    <hr>
    <h2 id="skype-documents-vol-below">Skype partnership Documents:</h2>
    <!-- insert 'SkypeDocumentsVolView' template here-->
    <hr>

  </div>

</div>
