<!-- script disables browser back button for this page -->
<script type = "text/javascript" >
  history.pushState(null, null, 'dashboard');
  window.addEventListener('popstate', function(event) {
    history.pushState(null, null, 'dashboard');
  });
</script>


<div id="volunteer-dashboard-template" class="container">
  <br>
  <br>
  <br>
  <br>

  <div>
    <h2>Welcome to the "City English Project," {{first_name}} as a volunteer!</h2>
    <hr>

    <form novalidate="novalidate" class="simple_form application_form" id="new_user" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value={{token}}>

      <h2>Click here to add one or more Skype time slots to your list of available time slots.</h2>
      <h2 class="skype-slot-choice" style="color: #337ab7; cursor: pointer;" data-toggle="collapse" data-target="#collapseSkypeTime" aria-expanded="false" aria-controls="collapseSkypeTime">
        <span id="open-to-add">Add time slot</span>
      </h2>
      <div class="collapse" id="collapseSkypeTime">
        {{> select_skype_time}}
      </div>

      <h4 id="choosing-many-slots">(You can choose as many slots as you like.)</h4>

    </form>
    <hr>

    <h3 id="list-avail-skype">List of your available time slots:</h3>
    <!-- insert 'SkypeTimeSlotsView' template here-->
    <hr>

  </div>

</div>
