<!-- script disables browser back button for this page -->
<script type = "text/javascript" >
  history.pushState(null, null, 'dashboard');
  window.addEventListener('popstate', function(event) {
    history.pushState(null, null, 'dashboard');
  });
</script>

<div class="container">
  <br>
  <br>
  <br>
  <br>

  <div>
    <h2><a href="/log_out">Log Out</a></h2>
    <hr>
    <h2>Welcome to the "City English Project," {{first_name}} as a volunteer!</h2>
    <hr>
    {{volunteer_skype_time_slots}}
    {{!-- {{#if volunteer_skype_time_slots}}
      <h2></h2>
    {{^}}
      <h2></h2>
    {{/if}} --}}


    <hr>
    <h2>Click to choose up to 4 Skype-partnership time slots per week.</h2>

    <form novalidate="novalidate" class="simple_form application_form" id="new_user" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value={{token}}>

      <h2 class="skype-slot-choice" style="color: #337ab7; cursor: pointer;" data-toggle="collapse" data-target="#collapseSkypeTimeOne" aria-expanded="false" aria-controls="collapseSkypeTimeOne">
        <span>First Skype session time slot</span>
      </h2>
      <div class="collapse" id="collapseSkypeTimeOne">
        {{> select_day}}
      </div>
      <br>

      <h2 class="skype-slot-choice" style="color: #337ab7; cursor: pointer;" data-toggle="collapse" data-target="#collapseSkypeTimeTwo" aria-expanded="false" aria-controls="collapseSkypeTimeTwo">
        <span>Second Skype session time slot</span>
      </h2>
      <div class="collapse" id="collapseSkypeTimeTwo">
        {{> select_day}}
      </div>
      <br>

      <h2 class="skype-slot-choice" style="color: #337ab7; cursor: pointer;" data-toggle="collapse" data-target="#collapseSkypeTimeThree" aria-expanded="false" aria-controls="collapseSkypeTimeThree">
        <span>Third Skype session time slot</span>
      </h2>
      <div class="collapse" id="collapseSkypeTimeThree">
        {{> select_day}}
      </div>
      <br>

      <h2 class="skype-slot-choice" style="color: #337ab7; cursor: pointer;" data-toggle="collapse" data-target="#collapseSkypeTimeFour" aria-expanded="false" aria-controls="collapseSkypeTimeFour">
        <span>Fourth Skype session time slot</span>
      </h2>
      <div class="collapse" id="collapseSkypeTimeFour">
        {{> select_day}}
      </div>

      <h2>After you have set up your time slots, press "Submit" below.  Your name will automatically put on a list of "American Volunteers" from which Thais can choose.</h2>

      <div class="button-for-skype">
        <button class="add-skype-slots btn btn-primary">Submit</button>
      </div>

    </form>

    <hr>
    <h2><a href="/log_out">Log Out</a></h2>
    <hr>
  </div>

</div>

<script>
  
</script>
