%section.bsc-container
  
  %h1="You can practice this lesson in three ways..."
  
  -@practices.each do |practice|
    %h2=link_to practice.type_of, part_lesson_practice_path(@lesson.part, @lesson, practice)
