<h2 class="text-center be-a-member-top-title">Become a City English Project Network Member!</h2>

<h3 class="be-a-member-top-text">
  Everyone who sucessfully completes our "You Can Speak!" conversational English class will be awarded a free one-year membership to our network.
</h3>