<h4>Certificate Program</h4>
<p>In partnership with a leading English institute in the United States, we hope to launch our certificate program in 2017. Our goal is to offer general English certificates as well as certificates in specific fields of study.</p>
