<h4>The City Talk Class</h4>
<p>Our City Talk conversational English, culture and worldview class is a fun and interactive way to build confidence and learn to speak English with greater clarity. We offer beginner, basic and intermediate level classes which are all taught by TESOL certified native English speakers. For more information <a href="#">click here</a>.</p>

