<h4>"Fast Track" Conversation Partnerships with Native English Speakers</h4>
<p>The best way to become a better English speaker is to speak with native English speakers on a regular basis. Our network offers members opportunities for online, weekly, face-to-face partnerships on Skype with native English speakers who can help you advance quickly.  This will be available to you after you complete the "You Can Speak" class.</p>


