<h3>Upcoming activities at our center...</h3>
<h4>Come and join us at these times for free English practice and fun conversation games at our CEP center....</h4>

<ul style="list-style: none;">
  <li><h3>Thursday, 9 March, 6:30-8:00pm</h3></li>
  <li><h4>..."Conversation Practice!"</h4></li>
  <li><h3>Thursday, 16 March, 6:30-8:00pm</h3></li>
  <li><h4>..."Conversation Practice!"</h4></li>
  <li><h3>Thursday, 23 March, 6:30-8:00pm</h3></li>
  <li><h4>..."Conversation Practice!"</h4></li>
</ul>
