<h3>Upcoming activities at our center...</h3>
<h4>Come and join us at these times for free English practice and fun conversation games at our CEP center....</h4>

<ul style="list-style: none;">
  <li><h3>13 December, 6:30-8:00pm</h3></li>
  <li><h4>..."Business Idioms!"</h4></li>
</ul>

<ul style="list-style: none;">
  <li><h3>21 December, 6:30-8:00pm</h3></li>
  <li><h4>..."Christmas Event!"</h4></li>
</ul>