<h3><span class="stepTitle">Step 2:</span>
</br><span class="steps">Upon successful completion of the City Talk course you will be given a FREE one-year membership to the City English Project online network. Network members have exclusive, unlimited access to message boards, online classes and upcoming onsite- classes and events. They also have the opportunity to be matched with an online conversation partners for a nominal fee.</span></h3>

<hr style="width: 90%; height: 2px; background-color: white; border: 0; position: relative; top: 5.3em;">
