<h3>Privileges of CEP network membership:</h3>

<ul>
  <li><h3>Invitations to Free English events and activities</h3></li>
  <li><h3>Affordable English classes and seminars</h3></li>
  <li><h3>Opportunities for online conversation partnerships with Americans</h3></li>
  <li><h3>Free conversational English worldview class and workbook</h3></li>
  <li><h3>Free access to CEP Online chat groups where students can ask English questions and receive support from native English speakers</h3></li>
  <li><h3>Ongoing opportunites to build relationships with English speakers</h3></li>
</ul>

