<div class="title">
  <h2>Welcome To City English Project...!!</h2>
</div>
<h2 class="partners">Partners you can trust. A network that will help you succeed.</h2>
<div class="desc">
  <p class="paragraph">
    The City English Project is a new network and online community that makes learning English convenient, affordable and fun! We offer Thai students on-site English classes, online one-on-one conversation practice with native English speakers, as well as an integrated online learning community. Our creative approach of English training focuses on helping Thais excel in business and personal relationships within the ASEAN community and beyond. Please take some time to check out what we have to offer!
  </p>
  </br>
  <p class="paragraph">
    Feel free to view this video consisting of edited clips from "The Men Who Built America" History channel series and with text commentary added by Matt Malone.  The video gives an account of the early career of the great 19th century industrialist, Andrew Carnegie, and the challenge from his mentor Tom Scott to "build a bridge" over the Mississipi that would "unite America!"  Just as Carnegie sought to "bridge the great divide" between East and West, so too does the City English Project seek to help "bridge the great divide" for the Thai people....
  </p>
  </br>
</div>
