<h4>Ongoing Opportunities</h4>

<p>Network members will have ongoing opportunities to connect with native English speakers through additional classes and events in Bangkok. More information coming in 2017!</p>
