{{!-- <p class="intro">Want to speak English with greater clarity and confidence?

<p class="intro">Want to connect with American English speakers to practice speaking English?</p>

<p class="intro">
  If the answer is 'Yes,...'
  <br>
  <br>
</p> --}}
<a id="click-welcome">Learn with us!</a>