<p class="intro">Want to speak English with greater clarity and confidence?

<p class="intro">Want to connect with American English speakers to practice speaking English?</p>

<p class="intro">
  If the answer is 'Yes,...'
  <br>
  <br>
  <a href="#mycarousel" id="place_1" class="page-scroll nav-hover top-click">click here!</a>
</p>