<h4>"Group Talk" การสนทนาภาษาอังกฤษเป็นกลุ่ม</h4>

<p>คุณต้องการฝึกพูดภาษาอังกฤษกับเจ้าของภาษา แต่คุณต้องการฝึกเป็นกลุ่มพร้อมกับเพื่อนๆของคุณใช่หรือไม่? เราวางแผนที่จะเริ่มการสนทนากลุ่มทางวิดีโอออนไลน์กับเจ้าของภาษาในปี 2017!</p>
