<h4>ภาษาไทย... The ability to speak English is an important skill that can open many doors.  Why not come and learn English with native English speakers at the City English Project Center on Monday through Thursday from 6 pm to 8 pm for the month of June?  Here is what you need to know:</h4>

<ol>
  <li>Each evening Monday through Thursday CEP staff will teach a 2-hour class that will focus on popular conversation topics and important language skills.</li>
  <li>You will learn vocabulary, pronunciation, as well as new expressions.</li>
  <li>You will meet new American (and maybe even some Thai) friends.</li>
  <li>Instead of going home and watching T.V. or playing video games, you will be spending your evenings improving yourself.</li>
  <li>It is FREE!  Now, just because it is free doesn’t mean the classes are not any good. In fact, the opposite is true!</li>
</ol>
<h4>So, what do you have to lose?  Bring your friend and come and give learning English with us a try.</h4>


<h4>ความสามารถในการพูดภาษาอังกฤษเป็นทักษะที่สำคัญที่สามารถเปิดประตูสู่โอกาสต่างๆ มากมาย แล้วทำไมคุณจึงไม่มาร่วมและเรียนรู้กับผู้ที่ใช้ภาษาอังกฤษเป็นภาษาหลักที่โครงการซิตี้ อิงลิชในวันจันทร์ถึงวันพฤหัส เวลา 18:00-20:00 น. ในเดือนมิถุนายนนี้หล่ะ? ต่อไปนี้เป็นข้อมูลสำคัญที่คุณจำเป็นต้องรู้:</h4>

<ol>
  <li>ทุกคืนวันจันทร์ – วันพฤหัส เจ้าหน้าที่โครงการซิตี้ อิงลิช จะมีสอนชั้นเรียนภาษาอังกฤษคืนละ 2 ชั่วโมง โดยจะเน้นหัวข้อการสนทนาที่ใช้เป็นประจำและสำคัญต่อทักษะด้านภาษา</li>

  <li>คุณจะได้เรียนรู้คำศัพท์ การออกเสียง และคำศัพท์เกี่ยวกับการแสดงออกทางความรู้สึกใหม่ๆ</li>

  <li>คุณจะได้พบเพื่อนใหม่ที่เป็นชาวอเมริกัน (และคนไทยบางคน)</li>

  <li>แทนที่จะกลับบ้านและนอนดูทีวี หรือเล่นวีดีโอเกมส์ คุณควรจะใช้เวลาช่วงค่ำของคุณเพื่อการพัฒนาตัวเอง</li>

  <li>มันเป็นชั้นเรียนฟรี! เพราะว่ามันฟรีไม่ได้หมายความว่ามันเป็นชั้นเรียนที่ไม่ดี ความเป็นจริงที่ตรงข้ามกันคือมันเป็นเรื่องจริง!</li>
</ol>

<h4>เพราะฉะนั้น มีอะไรที่คุณจะต้องสูญเสียมั๊ย? ชวนเพื่อนของคุณและมา และลองมาเรียนรู้ภาษาอังกฤษกับเรา</h4>