<h3>ชั้นเรียนนอกสถานที่ตามสถานที่ของคุณ...</h3>

<h4>เราให้บริการจัดชั้นเรียน "You Can Speak!" นอกสถานที่ หากคุณต้องการจัดชั้นเรียนในสถานที่ทำงานหรือสถานศึกษาของคุณ กรุณาติดต่อคุณโสภาพร โทร 086-696-7821 หรือ Line ID: cityenglishproject</h4>