<h3>ชั้นเรียนภาษาอังกฤษฟรีที่เซนเตอร์ของเรา </h3>

<ul style="list-style: none;">
  <li><h4>“ชั้นเรียน Let's Talk!,” 5-8 มิถุนายน (จันทร์-พฤหัสบดี) 18:00-20:00น.</h4></li>

  <li><h4>“ชั้นเรียน Let's Talk!,” 12-15 มิถุนายน (จันทร์-พฤหัสบดี) 18:00-20:00น.</h4></li>

  <li><h4>“ชั้นเรียน Let's Talk!,” 19-22 มิถุนายน (จันทร์-พฤหัสบดี) 18:00-20:00น.</h4></li>

  <li><h4>“ชั้นเรียน Let's Talk!,” 26-29 มิถุนายน (จันทร์-พฤหัสบดี) 18:00-20:00น.</h4></li>
</ul>
