<h3>กิจกรรมที่จะเกิดขึ้นที่ศูนย์ของเรา...</h3>
<h4>มาร่วมกับเราในช่วงเวลานี้ที่จะฝึกหัดภาษาอังกฤษฟรีและเล่นเกมสนทนาสนุกที่ศูนย์ CEP....</h4>

<ul style="list-style: none;">
  <li><h3>วันอังคาร, 13 ธันวาคม, 18:30-20:00 น.</h3></li>
  <li><h4>..."สำนวนธุรกิจ!"</h4></li>
</ul>

<ul style="list-style: none;">
  <li><h3>วันพุธ, 21 ธันวาคม, 18:30-20:00 น.</h3></li>
  <li><h4>..."กิจกรรมคริสมาสต์!"</h4></li>
</ul>