<h3>กิจกรรมต่อไปที่เซนเตอร์ของเรา (CEP 1 - 2 - 3!)...</h3>
<h4>มาร่วมกิจกรรมครั้งนี้กับเราเพื่อฝึกฝนภาษาอังกฤษและเกมส์การสนทนาที่สนุกสนานได้ฟรีที่ซิตี้ อิงลิช เซนเตอร์....</h4>

<ul style="list-style: none;">
  <li><h3>วันพฤหัสบดี, 23 มีนาคม, 18:30-20:00 น.</h3></li>
  <li><h4>..."ฝึกสนทนา!"</h4></li>

  <li><h3>วันพฤหัสบดี, 6 เมษายน, 18:30-20:00 น.</h3></li>
  <li><h4>..."ฝึกสนทนา!"</h4></li>

  <li><h3>วันพฤหัสบดี, 20 เมษายน, 18:30-20:00 น.</h3></li>
  <li><h4>..."ฝึกสนทนา!"</h4></li>

  <li><h3>วันพฤหัสบดี, 4 พฤษภาคม, 18:30-20:00 น.</h3></li>
  <li><h4>..."ฝึกสนทนา!"</h4></li>

</ul>
