<h3>
  คริสตชนในประเทศไทยมีประวัติศาสตร์อันยาวนานของการให้บริการและให้ความช่วยเหลือสำหรับคนไทย  ตัวอย่างเช่น <a target='_blank' href='https://th.wikipedia.org/wiki/แดน_บีช_บรัดเลย์'>แดน บีช บรัดเลย์</a> เขาเป็นคนที่มีชื่อเสียงสำหรับการแนะนำการฉีดวัคซีนที่ทันสมัยและการผ่าตัดสำหรับประเทศไทย และเผยแพร่หนังสือพิมพ์ภาษาไทยเป็นครั้งแรก
</h3>

<h3>
  CEP ต่อไปนี้ในประเพณีของแดนบีชแบรดลีย์ ด้วยการช่วยให้คนไทยสมัยใหม่เติบโตในความสามารถของพวกเขาด้วยภาษาอังกฤษและความรู้ของพวกเขาจากวัฒนธรรมอื่น ๆ
</h3>
