<h4>โอกาสอื่นๆ ในอนาคต</h4>

<p>สมาชิกเครือข่ายจะมีโอกาสอย่างต่อเนื่องในการติดต่อเชื่อมโยงกับเจ้าของภาษาผ่านชั้นเรียนเสริม และกิจกรรมต่างๆ ที่จะจัดขึ้นในพื้นที่กรุงเทพมหานคร โปรดติดตามข้อมูลเพิ่มเติมปี 2017!</p>
