<p class="intro-thai">ต้องการพูดภาษาอังกฤษด้วยสำเนียงที่ชัดเจนและมีความมั่นใจมากขึ้นใช่หรือไม่?

<p class="intro-thai">ต้องการติดต่อกับเจ้าของภาษาเพื่อเรียนหรือฝึกพูดภาษาอังกฤษใช่หรือไม่?</p>

<p class="intro-thai">
  ถ้าคำตอบคือ “ใช่...”
  <br>
  <br>
  <a href="#welcomeCaption" class="page-scroll nav-hover top-click">คลิ๊กที่นี่!</a>
</p>