<p class="intro">ต้องการที่จะพูดภาษาอังกฤษที่มีความชัดเจนมากขึ้นและความเชื่อมั่นไหมครับ?

<p class="intro">ต้องการเชื่อมต่อกับเจ้าของภาษาเพื่อการศึกษาหรือฝึกพูดภาษาอังกฤษไหมครับ?</p>

<p class="intro">ถ้าตอบว่า "ใช่" <a class="modal-initiator" href="#" data-toggle="modal" data-target="#applicationmodal">คลิกที่นี่!</a></p>


