<p class="intro-thai">dddddddd ต้องการพูดภาษาอังกฤษด้วยสำเนียงที่ชัดเจนและมีความมั่นใจมากขึ้นใช่หรือไม่?

<p class="intro-thai">ต้องการติดต่อกับผู้ที่ใช้ภาษาอังกฤษชาวอเมริกันเพื่อฝึกพูดภาษาอังกฤษใช่หรือไม่?</p>

<p class="intro-thai">
  ถ้าคำตอบคือ “ใช่...”
  <br>
  <br>
  <a id="welcome-caption" class="page-scroll nav-hover top-click">คลิ๊กที่นี่!</a>
</p>