<p class="intro-thai">ต้องการพูดภาษาอังกฤษด้วยสำเนียงที่ชัดเจนและมีความมั่นใจมากขึ้นใช่หรือไม่?

<p class="intro-thai">ต้องการติดต่อกับผู้ที่ใช้ภาษาอังกฤษชาวอเมริกันเพื่อฝึกพูดภาษาอังกฤษใช่หรือไม่?</p>

<p class="intro-thai">
  ถ้าคำตอบคือ “ใช่...”
  <br>
  <br>
</p>
<a id="click-welcome">คลิ๊กที่นี่!</a>