<h2>โครงการภาษาอังกฤษในเมือง</h2>
<p class="intro">ต้องการที่จะพูดภาษาอังกฤษที่มีความชัดเจนมากขึ้นและความเชื่อมั่นไหมครับ?</p>
<p class="intro">ต้องการเชื่อมต่อกับเจ้าของภาษาเพื่อการศึกษาหรือฝึกพูดภาษาอังกฤษไหมครับ?</p>
<p id="backbone-app" class="intro">ถ้าตอบว่า "ใช่" <a href="/register_student">คลิกที่นี่!</a></p>

