<p class="intro-thai">ต้องการที่จะพูดภาษาอังกฤษที่มีความชัดเจนมากขึ้นและความเชื่อมั่นไหมครับ?

<p class="intro-thai">ต้องการเชื่อมต่อกับเจ้าของภาษาเพื่อการศึกษาหรือฝึกพูดภาษาอังกฤษไหมครับ?</p>

<p class="intro-thai">
  ถ้าตอบว่า "ใช่..."
  <br>
  <br>
  <a href="#mycarousel" id="place_1" class="page-scroll nav-hover top-click">คลิกที่นี่</a>
</p>