<p class="intro">ต้องการที่จะพูดภาษาอังกฤษที่มีความชัดเจนมากขึ้นและความเชื่อมั่นไหมครับ? ต้องการเชื่อมต่อกับเจ้าของภาษาเพื่อการศึกษาหรือฝึกพูดภาษาอังกฤษไหมครับ?ถ้าตอบว่า "ใช่" <a href="/register_student">คลิกที่นี่!</a></p>

