%section.site_title
  
  %h1
    ยินดีต้อนรับ...และ...Welcome!!
  
  %h1
    เชินเข้ามาเรียนภาษาอังกฤษกับเราอยู่ที่ "BSC English Online!"
  
  %h1 Here are our current course offerings!
  %h3.btn.btn-success Bible English
  %br
  %h3.btn.btn-success Another course
  %br
  %h3.btn.btn-success Yet another course
  %br
