<br>
<br>
<br>

<span id="on-business-page"></span>

<div class="entire-biz">

<div class="container" id="page-top">


  <div class="row">

    <h1 class="biz-title">{{business_title}}</h1>

    <form enctype="multipart/form-data" action="/business" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value={{token}}>

      <label class="field-label biz-label">Email Address</label>
      <input type="text" class="form-control biz-input" placeholder="อีเมล" name="email" autofocus="autofocus">
      <hr>

      <label class="field-label biz-label">Password</label>
      <input id="login_password" type="password" class="form-control biz-input" placeholder="รหัสผ่าน" name="password">
      <hr>

      <div class="control-group">
        <button class="btn btn-success biz-button" href="#">Submit</button>
      </div>
      <br>
      <br>
    </form>

  </div> {{!-- row --}}
</div>

</div> <!-- class="entire-biz" -->
