<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    {{please_click_here}}
  </button>
</p>
<div class="collapse" id="collapseExample">

  <ul>
    <li>เพียง 499 บาทเท่านั้น! กรุณาชำระค่าลงทะเบียนเรียนในวันแรกของการเรียน – กรุณามาก่อนเวลาเรียน 10 นาที เพื่อชำระค่าลงทะเบียน</li>
    <li>ทุกชั้นเรียนสอนโดยผู้สอนภาษาอังกฤษเจ้าของภาษาที่ได้รับการรับรองโดย TESOL จากประเทศอเมริกาและออสเตรเลีย</li>
    <li>เน้นการสนทนาภาษาอังกฤษเพื่อสร้างความมั่นใจและการออกเสียงที่ชัดเจน</li>
    <li>ฝึกฝนการสนทนาควบคู่กับการเรียนรู้เกี่ยวกับวัฒนธรรมและโลกทัศน์สากล</li>
    <li>แต่ละคาบเรียนใช้เวลา 90 นาที</li>
      <li style="margin-left: 10px; list-style:none;">- 75 นาที สำหรับการสนทนาภาษาอังกฤษและวัฒนธรรม</li>
      <li style="margin-left: 10px; list-style:none;">- 15 นาที สำหรับการสนทนาภาษาอังกฤษและ<a data-toggle="modal" href="#" data-target="#christianWorldViewModal">โลกทัศน์คริสเตียน</a></li>
    <li>หลังจากเสร็จสิ้นการเรียน 5 วันคุณจะมีสิทธิ์ได้รับ PIN เมื่อใช้ PIN คุณจะสามารถเข้าสู่ระบบและขอให้มีคู่สนทนาออนไลน์ได้</li>
  </ul>

</div>




