<fieldset id="class-schedule-options">
  {{> application_form/_choose_options_explained}}
  <br>
  <br>
  <div class="radio-div-applic">
    <label><input type="radio" id="sched-opt-one" name="class-schedule-options" class="radio-in-appl">{{schedule_option_one}}</label>
    <select id="five-weeks" name="class_period_five_weeks" class="grayout seminar-session-select" disabled>
      <option id="option-with-id" value="select_option" disabled selected> -- เลือกตารางเรียน -- </option>
      <option value="Mondays, 30 May - 27 June, 5:00">วันจันทร์, 30 พฤษภาคม - 27 มิถุนายน, 17:00-18:30 น.</option>
      <option value="Mondays, 30 May - 27 June, 7:00-8:30pm">วันจันทร์, 30 พฤษภาคม - 27 มิถุนายน, 19:00-20:30 น.</option>
      <option value="Tuesdays, 31 May - 28 June, 5:00-6:30pm">วันอังคาร, 31 พฤษภาคม - 28 มิถุนายน, 17:00-18:30 น.</option>
      <option value="Tuesdays, 31 May - 28 June, 7:00-8:30pm">วันอังคาร, 31 พฤษภาคม - 28 มิถุนายน, 19:00-20:30 น.</option>
      <option value="Saturdays, 4 June - 2 July, 10:30am-12:00pm">วันเสาร์, 4 มิถุนายน - 2 กรกฎาคม, 10:30 น.-12:00 น.</option>
      <option value="Saturdays, 4 June - 2 July, 12:30am-2:00pm">วันเสาร์, 4 มิถุนายน - 2 กรกฎาคม, 12:30 น.-14:00 น.</option>
    </select>
  </div>
  <br>
  <div class="radio-div-applic">
    <label><input type="radio" id="sched-opt-two" name="class-schedule-options" class="radio-in-appl">{{schedule_option_two}}</label>
    <select id="one-whole-week" name="class_period_one_week" class="grayout seminar-session-select" disabled>
      <option id="option-with-id" value="select_option" disabled selected> -- เลือกตารางเรียน -- </option>
      <option value="6-10 June, 5:00-6:30pm">6-10 มิถุนายน, 17:00-18:30 น.</option>
      <option value="6-10 June, 7:00-8:30pm">6-10 มิถุนายน, 19:00-20:30 น.</option>
      <option value="13-17 June, 5:00-6:30pm">13-17 มิถุนายน, 17:00-18:30 น.</option>
      <option value="13-17 June, 7:00-8:30pm">13-17 มิถุนายน, 19:00-20:30 น.</option>
      <option value="20-24 June, 5:00-6:30pm">20-24 มิถุนายน, 17:00-18:30 น.</option>
      <option value="20-24 June, 7:00-8:30pm">20-24 มิถุนายน, 19:00-20:30 น.</option>
      <option value="4-8 July, 5:00-6:30pm">4-8 กรกฎาคม, 17:00-18:30 น.</option>
      <option value="4-8 July, 7:00-8:30pm">4-8 กรกฎาคม, 19:00-20:30 น.</option>
      <option value="11-15 July, 5:00-6:30pm">11-15 กรกฎาคม, 17:00-18:30 น.</option>
      <option value="11-15 July, 7:00-8:30pm">11-15 กรกฎาคม, 19:00-20:30 น.</option>
      <option value="18-22 July, 5:00-6:30pm">18-22 กรกฎาคม, 17:00-18:30 น.</option>
      <option value="18-22 July, 7:00-8:30pm">18-22 กรกฎาคม, 19:00-20:30 น.</option>
    </select>
  </div>
</fieldset> <!-- class-schedule-options -->
