          <fieldset id="class-schedule-options">
            {{> application_form/_choose_options_explained}}
            <div class="radio-div-applic">
              <label><input type="radio" id="sched-opt-one" name="class-schedule-options" class="radio-in-appl">{{schedule_option_one}}</label>
              <select id="five-weeks" name="user[class_time]" class="grayout seminar-session-select" disabled>
                <option id="option-with-id" value="select_option" disabled selected> -- เลือกตัวเลือก -- </option>
                <option value="monday_one_five_weeks">วันจันทร์, 30 พฤษภาคม - 27 มิถุนายน, 17:00-18:30 น.</option>
                <option value="monday_two_five_weeks">วันจันทร์, 30 พฤษภาคม - 27 มิถุนายน, 19:00-20:30 น.</option>
                <option value="tuesday_one_five_weeks">วันอังคาร, 31 พฤษภาคม - 28 มิถุนายน, 17:00-18:30 น.</option>
                <option value="tuesday_two_five_weeks">วันอังคาร, 31 พฤษภาคม - 28 มิถุนายน, 19:00-20:30 น.</option>
                <option value="saturday_one_five_weeks">วันเสาร์, 4 มิถุนายน - 2 กรกฎาคม, 10:30 น.-12:00 น.</option>
                <option value="saturday_two_five_weeks">วันเสาร์, 4 มิถุนายน - 2 กรกฎาคม, 10:30 น.-12:00 น.</option>
                <option value="saturday_three_five_weeks">วันเสาร์, 4 มิถุนายน - 2 กรกฎาคม, 12:30 น.-2:00 น.</option>
                <option value="saturday_four_five_weeks">วันเสาร์, 4 มิถุนายน - 2 กรกฎาคม, 12:30 น.-2:00 น.</option>
              </select>
            </div>
            <br>
            <div class="radio-div-applic">
              <label><input type="radio" id="sched-opt-two" name="class-schedule-options" class="radio-in-appl">{{schedule_option_two}}</label>
              <select id="one-whole-week" name="user[class_time]" class="grayout seminar-session-select" disabled>
                <option id="option-with-id" value="select_option" disabled selected> -- เลือกตัวเลือก -- </option>
                <option value="first-no-u">6-10 มิถุนายน, 17:00-18:30 น.</option>
                <option value="second-no-u">6-10 มิถุนายน, 19:00-20:30 น.</option>
                <option value="third-no-u">13-17 มิถุนายน, 17:00-18:30 น.</option>
                <option value="fourth-no-u">13-17 มิถุนายน, 19:00-20:30 น.</option>
                <option value="fifth-no-u">20-24 มิถุนายน, 17:00-18:30 น.</option>
                <option value="sixth-no-u">20-24 มิถุนายน, 19:00-20:30 น.</option>
                <option value="seventh-no-u">27 มิถุนายน-1 กรกฎาคม, 17:00-18:30 น.</option>
                <option value="eighth-no-u">27 มิถุนายน-1 กรกฎาคม, 19:00-20:30 น.</option>
                <option value="nineth-no-u">4-8 กรกฎาคม, 17:00-18:30 น.</option>
                <option value="tenth-no-u">4-8 กรกฎาคม, 19:00-20:30 น.</option>
                <option value="eleventh-no-u">11-15 กรกฎาคม, 17:00-18:30 น.</option>
                <option value="twelfth-no-u">11-15 กรกฎาคม, 19:00-20:30 น.</option>
                <option value="thirteenth-no-u">18-22 กรกฎาคม, 17:00-18:30 น.</option>
                <option value="fourteenth-no-u">18-22 กรกฎาคม, 19:00-20:30 น.</option>
              </select>
            </div>
          </fieldset> <!-- class-schedule-options -->
