{{> application_form/_choose_options_explained}}
<hr>
<h2>วันจันทร์-วันศุกร์ (5 ครั้ง)</h2>
<hr>
<select id="five-weeks" name="user[class_time]" class="seminar-session-select">
  <option id="option-with-id" value="select_option" disabled selected> -- เลือกตัวเลือก -- </option>
      <option value="first">Beginner, 6-10 มิถุนายน, 10:00-11:30 น.</option>
      <option value="second">High Beginner, 6-10 มิถุนายน, 1:00-2:30 น.</option>

      <option value="third">Low Intermediate, 13-17 มิถุนายน, 10:00-11:30 น.</option>
      <option value="fourth">Beginner, 13-17 มิถุนายน, 1:00-2:30 น.</option>

      <option value="fifth">High Beginner, 20-24 มิถุนายน, 10:00-11:30 น.</option>
      <option value="sixth">Low Intermediate, 20-24 มิถุนายน, 1:00-2:30 น.</option>

      <option value="seventh">Beginner, 27 มิถุนายน - 1 กรกฎาคม, 10:00-11:30 น.</option>
      <option value="eighth">High Beginner, 27 มิถุนายน - 1 กรกฎาคม, 1:00-2:30 น.</option>

      <option value="nineth">Low Intermediate, 4-8 กรกฎาคม, 10:00-11:30 น.</option>
      <option value="tenth">Beginner, 4-8 กรกฎาคม, 1:00-2:30 น.</option>

      <option value="eleventh">High Beginner, 11-15 กรกฎาคม, 10:00-11:30 น.</option>
      <option value="twelfth">Low Intermediate, 11-15 กรกฎาคม, 1:00-2:30 น.</option>

      <option value="thirteenth">Beginner, 18-22 กรกฎาคม, 10:00-11:30 น.</option>
      <option value="fourteenth">High Beginner, 18-22 กรกฎาคม, 1:00-2:30 น.</option>

      <option value="fifteenth">Low Intermediate, 25-29 กรกฎาคม, 10:00-11:30 น.</option>
      <option value="sixteenth">Beginner, 25-29 กรกฎาคม, 1:00-2:30 น.</option>
</select>
