{{> application_form/_choose_options_explained}}
<hr>
<h2 class="schedule-options">วันจันทร์-วันศุกร์ (5 ครั้ง)</h2>
<hr>
<select id="univ-select" name="class_time_scheduled" class="seminar-session-select">

  <option id="option-with-id" value="select_option" disabled selected> -- เลือกตัวเลือก -- </option>

  {{#each class_times}}
      <option value="{{this.period}}">{{this.period_thai}}</option>
  {{/each}}
 
</select>
