<h4>ถ้าต้องการข้อมูลอีกมาเยี่ยมชมเราได้ในวันที่ 23 หรือ 24 พฤษภาคมอยู่ที่...</h4>

<ul>
  <li>UTK พระนฌรใต้ ถ. เจริญกรุง</li>
  <li>UTK เถฌนิฌกรุงเถพ ถ. นางลิ๊นจี่</li>
</ul>

...หรือ...

<ul style="list-style-type:none">
  <li>สานักงาน</li>
  <li>โฌรงการซิติ อิงลิช</li>
  <li>66 ถ.ป๊ นั สลี ม บางรกั กถม.</li>
  <li>โทร. 086-696-7821</li>
</ul>

<hr>
<hr>