{{> application_form/_choose_options_explained}}
<hr>
{{> application_form/_reg_university_explained}}
<hr>
<select id="five-weeks" name="user[class_time]" class="seminar-session-select">
  <option id="option-with-id" value="select_option" disabled selected> -- เลือกตัวเลือก -- </option>
      <option value="first">Beginner, วันจันทร์-วันศุกร์, 6-10 June (5 ครั้ง), 10:00-11:30am</option>
      <option value="second">High Beginner, วันจันทร์-วันศุกร์, 6-10 June (5 ครั้ง), 1:00-2:30pm</option>

      <option value="third">Low Intermediate, วันจันทร์-วันศุกร์, 13-17 June (5 ครั้ง), 10:00-11:30am</option>
      <option value="fourth">Beginner, วันจันทร์-วันศุกร์, 13-17 June (5 ครั้ง), 1:00-2:30pm</option>

      <option value="fifth">High Beginner, วันจันทร์-วันศุกร์, 20-24 June (5 ครั้ง), 10:00-11:30am</option>
      <option value="sixth">Low Intermediate, วันจันทร์-วันศุกร์, 20-24 June (5 ครั้ง), 1:00-2:30pm</option>

      <option value="seventh">Beginner, วันจันทร์-วันศุกร์, 27 June - 1 July (5 ครั้ง), 10:00-11:30am</option>
      <option value="eighth">High Beginner, วันจันทร์-วันศุกร์, 27 June - 1 July (5 ครั้ง), 1:00-2:30pm</option>

      <option value="nineth">Low Intermediate, วันจันทร์-วันศุกร์, 4-8 July (5 ครั้ง), 10:00-11:30am</option>
      <option value="tenth">Beginner, วันจันทร์-วันศุกร์, 4-8 July (5 ครั้ง), 1:00-2:30pm</option>

      <option value="eleventh">High Beginner, วันจันทร์-วันศุกร์, 11-15 July (5 ครั้ง), 10:00-11:30am</option>
      <option value="twelfth">Low Intermediate, วันจันทร์-วันศุกร์, 11-15 July (5 ครั้ง), 1:00-2:30pm</option>

      <option value="thirteenth">Beginner, วันจันทร์-วันศุกร์, 18-22 July (5 ครั้ง), 10:00-11:30am</option>
      <option value="fourteenth">High Beginner, วันจันทร์-วันศุกร์, 18-22 July (5 ครั้ง), 1:00-2:30pm</option>

      <option value="fifteenth">Low Intermediate, วันจันทร์-วันศุกร์, 25-29 July (5 ครั้ง), 10:00-11:30am</option>
      <option value="sixteenth">Beginner, วันจันทร์-วันศุกร์, 25-29 July (5 ครั้ง), 1:00-2:30pm</option>
</select>
