{{> application_form/_non_univ_choose_options}}
<hr>
<br>

<select id="five-weeks" name="user[class_time]" class="seminar-session-select">
  <option id="option-with-id" value="select_option" disabled selected> -- เลือกตัวเลือก -- </option>
      <option value="mondayfive">Beginner, วันจันทร์-วันศุกร์, 6-10 June (5 ครั้ง), 10:00-11:30am</option>
      <option value="mondayfive">High Beginner, วันจันทร์-วันศุกร์, 6-10 June (5 ครั้ง), 1:00-2:30pm</option>

      <option value="mondayfive">Low Intermediate, วันจันทร์-วันศุกร์, 13-17 June (5 ครั้ง), 10:00-11:30am</option>
      <option value="mondayfive">Beginner, วันจันทร์-วันศุกร์, 13-17 June (5 ครั้ง), 1:00-2:30pm</option>

      <option value="mondayfive">High Beginner, วันจันทร์-วันศุกร์, 20-24 June (5 ครั้ง), 10:00-11:30am</option>
      <option value="mondayfive">Low Intermediate, วันจันทร์-วันศุกร์, 20-24 June (5 ครั้ง), 1:00-2:30pm</option>

      <option value="mondayfive">Beginner, วันจันทร์-วันศุกร์, 27 June - 1 July (5 ครั้ง), 10:00-11:30am</option>
      <option value="mondayfive">High Beginner, วันจันทร์-วันศุกร์, 27 June - 1 July (5 ครั้ง), 1:00-2:30pm</option>

      <option value="mondayfive">Low Intermediate, วันจันทร์-วันศุกร์, 4-8 July (5 ครั้ง), 10:00-11:30am</option>
      <option value="mondayfive">Beginner, วันจันทร์-วันศุกร์, 4-8 July (5 ครั้ง), 1:00-2:30pm</option>

      <option value="mondayfive">High Beginner, วันจันทร์-วันศุกร์, 11-15 July (5 ครั้ง), 10:00-11:30am</option>
      <option value="mondayfive">Low Intermediate, วันจันทร์-วันศุกร์, 11-15 July (5 ครั้ง), 1:00-2:30pm</option>

      <option value="mondayfive">Beginner, วันจันทร์-วันศุกร์, 18-22 July (5 ครั้ง), 10:00-11:30am</option>
      <option value="mondayfive">High Beginner, วันจันทร์-วันศุกร์, 18-22 July (5 ครั้ง), 1:00-2:30pm</option>

      <option value="mondayfive">Low Intermediate, วันจันทร์-วันศุกร์, 25-29 July (5 ครั้ง), 10:00-11:30am</option>
      <option value="mondayfive">Beginner, วันจันทร์-วันศุกร์, 25-29 July (5 ครั้ง), 1:00-2:30pm</option>
</select>
