<h3>ถ้าท่านมีคำถามหรือข้อสงสัยใด สามารถส่งข้อความมาหาเราได้ที่ 'info@cityenglishproject.com'</h3>
<hr>

<img class="welcome-popup" src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Step+One.png" alt="ขอบคุณครับ!">

<hr>
<h3>GET TRANSLATED -- Congratulations!  You are now registered for a "You Can Speak" class: {{class_time}}.</h3>

<h3>GET TRANSLATED -- Please arrive 15 minutes early on the first day of class to pay.</h3>

<h3>GET TRANSLATED -- Our center is located at [Pan Road address].</h3>

<h3>GET TRANSLATED -- If you have questions, you can call us at (So's number) or LINE us at "cityenglishproject".</h3>

<h3>GET TRANSLATED -- Don't forget to "Like" us on Facebook at [Facebook link] and "Follow" us on Instagram at [Instagram link].</h3>


<h3>เราหวังว่าท่านจะมีความสุขในการเรียนรู้ภาษาอังกฤษกับเรา!!</h3>

<hr>
Copyright © City English Project 2016
All rights reserved.