<section class="site_title">
  <header>
    <h2>
      <%= "\"#{@course.name}\" is under construction. Please come back soon!" %>
    </h2>
    <hr/>
    <h2>
      <%= "The only course available now is \"#{link_to 'Bible English', curriculum_course_path(@course.curriculum, 1)}\". You are welcome to study it".html_safe %>
    </h2>
    <br/>
  </header>
</section>
