%section.site_title
  %hr
  %h1
    = "Click on a course in order to Register..."
    %br
    -@curriculums.each do |curriculum|
      %h1=curriculum.name
      -curriculum.courses.each do |course|
        -if current_user.plans.empty?
          %h2=link_to course.name, new_course_registration_path
        -else
          %h2=link_to course.name, curriculum_course_path(curriculum, course)