<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">ลงทะเบียน</h3>
      <h4>ลงทะเบียนเพื่อรับสิทธิ์การเป็นสมาชิกโครงการซิตี้ อิงลิช (CEP)</h4>
      <h4>เมื่อคุณเป็นนักเรียนของโครงการซิตี้ อิงลิช (CEP) คุณสามารถเข้าถึงบริการทั้งหมดของเราได้ฟรีทันที โดยการชำระเงินค่าลงทะเบียนสำหรับบริการของเรา เรามีทางเลือกสำหรับการชำระเงินหลายช่องทางด้วยกัน</h4>
      <h4>ถ้าคุณไม่มีรหัส PIN กรุณาติดต่อผู้สอนของคุณ</h4>
      <br>
      <h4>Open an account at City English Project (CEP)!</h4>
      <h4>As an English student at CEP, you will have access to all of our free services immediately.  With our paid-for services, we offer multiple payment options.</h4>
      <h4>If you do not have a PIN, please contact your CEP English teacher.</h4>
    </div>
    <div class="modal-body">
      <form class="student-registration-form" id="new_user" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value={{token}}>

        <label class="field-label">PIN</label>
        <input type="text" class="form-control pin" placeholder="หมายเลขประจำตัว" name="pin">
        <hr>

        <label class="field-label">Email Address</label>
        <input type="text" class="form-control email" placeholder="อีเมล" name="email">
        <hr>

        <label class="field-label">Password</label>
        <input id="student-registration-password" type="password" class="form-control" placeholder="รหัสผ่าน" name="password">
        <hr>

        <label class="field-label">Password Confirmation</label>
        <input id="student-registration-password" type="password" class="form-control" placeholder="ยืนยันรหัสผ่าน" name="password_confirmation">
        <hr>

        <div class="control-group">
          <button class="btn registration-submit" href="#">Submit</button>
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
    </div>
  </div> <!-- Modal content-->
</div> <!-- Modal dialog -->


