<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
      <h3 class="modal-title">Register to become a CEP volunteer</h3>
      <h4>If you do not have a PIN, please contact the CEP volunteer administrator for your organization or church.</h4>
    </div>
    <div class="modal-body">
      <form class="volunteer-registration-form" id="new_user" enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓">
      <input type="hidden" name="authenticity_token" value={{token}}>

        <label class="field-label">PIN</label>
        <input type="text" class="form-control pin" placeholder="PIN" name="pin">
        <hr>

        <label class="field-label">First Name</label>
        <input type="text" class="form-control first_name" placeholder="First Name" name="first_name">
        <hr>

        <label class="field-label">Last Name</label>
        <input type="text" class="form-control last_name" placeholder="Last Name" name="last_name">
        <hr>

        <label class="field-label">Email Address</label>
        <input type="text" class="form-control email" placeholder="Email Address" name="email">
        <hr>

        <label class="field-label">Gender</label>
        <div>
          <select name="gender" class="gender-select">
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
        </div>
        <hr>

        <label class="field-label">Church, Business or Organization Name</label>
        <input type="text" class="form-control organization" placeholder="Organization" name="organization">
        <hr>

        <label class="field-label">Password</label>
        <input id="volunteer-registration-password" type="password" class="form-control" placeholder="Password" name="password">
        <hr>

        <label class="field-label">Password Confirmation</label>
        <input id="volunteer-registration-password" type="password" class="form-control" placeholder="Password Confirmation" name="password_confirmation">
        <hr>

        <label class="field-label">Phone Number</label>
        <input type="text" class="form-control phone_number" placeholder="Phone Number" name="phone_number">
        <hr>



        <div class="control-group">
          <input type="submit" value="Submit" id="submit" name="submit" class="btn btn-primary volunteer-registration-submit">

          {{!-- <button class="btn btn-primary registration-submit" href="#">Submit</button> --}}
        </div>

      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
    </div>
  </div> <!-- Modal content-->
</div> <!-- Modal dialog -->



  <h3>
    <label for="user_phone_number">Phone Number</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[phone_number]" id="user_phone_number">
  </h3>

  <h3>
    <label for="user_address_1">Address 1</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[address_1]" id="user_address_1">
  </h3>

  <h3>
    <label for="user_address_2">Address 2</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[address_2]" id="user_address_2">
  </h3>

  <h3>
    <label for="user_city">Town or City</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[city]" id="user_city">
  </h3>

  <h3>
    <label for="user_province">State or Province</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[province]" id="user_province">
  </h3>

  <h3>
    <label for="vol_postal_code">Zip / Postal Code</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[postal_code]" id="vol_postal_code">
  </h3>

  <h3>
    <label for="country">Country</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[country]" id="user_country">
  </h3>

  <br>
  <input type="submit" name="commit" value="Send this form to CEP" class="btn btn-success vol_reg_er">
</form>

