<a class="close" href="#">Close</a>

<form novalidate="novalidate" class="simple_form new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value={{token}}>
  <header>
    <h1>Register as a new volunteer with City English Project (CEP)!</h1>
    <hr>
    <h4>
      If you don't yet have a PIN, contact your CEP Volunteer administrator.
    </h4>
    <hr>
    <h4>
      Every box is required to be filled in except 'Address 2.'
    </h4>
    <hr>
  </header>

  <h3>
    <label for="vol_pin">PIN</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[pin]" id="vol_pin">
  </h3>

  <h3>
    <label for="vol_first_name">First Name</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[first_name]" id="vol_first_name">
  </h3>

  <h3>
    <label for="vol_last_name">Last Name</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[last_name]" id="vol_last_name">
  </h3>

  <h3>
    <label for="vol_gender">Gender</label>
  </h3>
  <h3>
    <select name="user[gender]" id="vol_gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
  </h3>

  <h3>
    <label for="user_last_name">Church, Business or Organization Name</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[occupation]" id="user_occupation">
  </h3>

  <h3>
    <label for="user_email">Email Address</label>
  </h3>
  <h3>
    <input class="vol_registration" type="email" name="user[email]" id="user_email">
  </h3>

  <h3>
    <label for="vol_password">Password</label>
  </h3>
  <h3>
    <input class="vol_registration" type="password" name="user[password]" id="vol_password">
  </h3>

  <h3>
    <label for="vol_password_confirmation">Password Confirmation</label>
  </h3>
  <h3>
    <input class="vol_registration" type="password" name="user[password_confirmation]" id="vol_password_confirmation">
  </h3>

  <h3>
    <label for="user_phone_number">Phone Number</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[phone_number]" id="user_phone_number">
  </h3>

  <h3>
    <label for="user_address_1">Address 1</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[address_1]" id="user_address_1">
  </h3>

  <h3>
    <label for="user_address_2">Address 2</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[address_2]" id="user_address_2">
  </h3>

  <h3>
    <label for="user_city">Town or City</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[city]" id="user_city">
  </h3>

  <h3>
    <label for="user_province">State or Province</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[province]" id="user_province">
  </h3>

  <h3>
    <label for="vol_postal_code">Zip / Postal Code</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[postal_code]" id="vol_postal_code">
  </h3>

  <h3>
    <label for="country">Country</label>
  </h3>
  <h3>
    <input class="vol_registration" type="text" name="user[country]" id="user_country">
  </h3>

  <br>
  <input type="submit" name="commit" value="Send this form to CEP" class="btn btn-success vol_reg_er">
</form>

