<div class="entire-vol">

<div class="container-fluid">

<div class="container-full main" id="page-top">
  <div class="row">
    <div class="col-md-12 backg-vol">
      <div class="col-md-6 col-md-offset-3 inner col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <div class="text-box">
          {{#if thai_language}}
            {{> volunteer/thai/_welcome }}
          {{^}}
            {{> volunteer/english/_welcome }}
          {{/if}}
        </div>
      </div>
    </div>
  </div> {{!-- row --}}
</div>

<div class="container-full main" id="welcomeCaption">
  <div class="row">
    <div class="project-overview-screen">
      {{#if window_big}}
        <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Project+Overview.jpg" alt="wide picture" class="img-responsive">
      {{^}}
        <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Project+Overview+mobile.jpg" alt="narrow picture" class="img-responsive">
      {{/if}}
      <div class="project-overiew-caption">
        {{#if thai_language}}
          {{> volunteer/thai/_profile_overview }}
        {{^}}
          {{> volunteer/english/_profile_overview }}
        {{/if}}
      </div>
    </div>
  </div> {{!-- row --}}
</div>


<!-- Steps to becoming a CEP volunteer -->
<div class="container-full features" id="volunteer-steps">
  <h2 class="text-center features-text">{{steps_title}}</h2>
  <div class="row">
     <div class="col-sm-4">  
        <div class="volunteer-picture">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Register+Your+Church.jpg" alt="Register" align="middle">
          <div class="col-md-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> volunteer/thai/_step_one }}
            {{^}}
              {{> volunteer/english/_step_one }}
            {{/if}}
            <a class="link-button btn btn-success" href="#" data-toggle="modal" data-target="#adminregformmodal">{{register_organization}}</a>
          </div>
          <br>
          <br>
          <br>
        </div>
     </div>
     <div class="col-sm-4"> 
        <div class="volunteer-picture">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Invite+Volunteers.jpg" alt="Invite Volunteers" align="middle">
          <div class="col-md-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> volunteer/thai/_step_two }}
            {{^}}
              {{> volunteer/english/_step_two }}
            {{/if}}
            <a class="link-button btn btn-success" href="#" data-toggle="modal" data-target="#registervolunteermodal">{{volunteer_registration}}</a>
          </div>
          <br>
          <br>
          <br>
        </div>
     </div>
     <div class="col-sm-4">
        <div class="volunteer-picture">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/Multiply+Volunteers.jpg" alt="Multiply Volunteers" align="middle">
          <div class="col-md-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-2 col-sm-10 icon-text-box">
            {{#if thai_language}}
              {{> volunteer/thai/_step_three }}
            {{^}}
              {{> volunteer/english/_step_three }}
            {{/if}}
          </div>
        </div>
     </div>
  </div>
</div> <!-- Steps to becoming a CEP volunteer -->

</div> <!-- container-fluid -->

</div> <!-- class="entire-vol" -->
