<!DOCTYPE html>
<html>(lang="en-US")
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <section class="bsc-container">
      <hr/>
      <p> <!-- '@user' from 'mailer/app_mailer.rb' -->
        <%= "ยินดีต้อนรับ! Welcome to the City English Project (CEP), #{@user.first_name}! We hope you have a great experience learning English with us!" %>
      </p>
    </section>
  </body>
</html>
