<!DOCTYPE html>
<html>(lang="en-US")
  <body>
    <section class="bsc-container">
      <hr/>
      <p>
        <%= "Welcome to the City English Project (CEP), #{@user.first_name}! We hope you have a great experience learning English with us!" %>
      </p>
    </section>
  </body>
</html>
