/*
 *= require bootstrap-sass-official
 *= require style
 *= require welcome
 *= require features
 *= require get_started
 *= require footer
 *= require modals
 *= require win_styles
 *= require lightbox
 *= require custom
 *= require nav_break
 *= require sweetalert
 */
// NOTE: Make sure the '*/' in the line above is ONE SPACE away from the extreme left!!!
// USE: $ sass -c app/assets/stylesheets/**.sass* // makes ‘.sass-cache’ folder above ‘app’

@font-face
  font-family: 'Kanit-Medium'
  src: url('Kanit-Medium.eot')
  src: url('Kanit-Medium.eot?#iefix') format("embedded-opentype"), url('Kanit-Medium.svg#Kanit-Medium') format("svg"), url('Kanit-Medium.woff') format("woff"), url('Kanit-Medium.ttf') format("truetype")
  font-weight: normal
  font-style: normal