.progress {
  background: rgba(230, 230, 230, 1);
  border: 0px solid rgba(184, 114, 114, 1);
  border-radius: 9px;
  height: 19px;
}

.progress-bar-course {
  background: rgba(139, 0, 0, 1);
}

.progress-bar-part {
  background: rgba(125, 38, 205, 1);
}

.progress-bar-lesson {
  background: rgba(55, 100, 184, 1)
}

.btn {
  font-size: 20px;
  font-family: "Times New Roman", Georgia, Serif;
}

.btn-default {
  color: #1874CD;
}

.right-caret {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid #000000;
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}

.down-caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  display: inline-block;
  height: 0;
  vertical-align: middle;
  width: 0;
}

h3.brown {
  color: #996633;
}


