  
.footer-screen
  position: relative
  color: #2D3179
  @media screen and (min-width: 840px)
    font-size: 100%
  @media screen and (max-width: 840px)
    font-size: 90%

.footer-screen > .container-full
  h2
    text-align: center
    font-size: 300%
  top: 1%
  left: 2%
  position: absolute

.footer-contact-info
  display: table

.footer-col-centered
  @media screen and (min-width: 767px)
    float: none
    margin: 0 auto
  @media screen and (max-width: 767px)
    // margin-left: 50px

.footer-cep-logo
  @media screen and (min-width: 767px)
    padding-right: 2%
    padding-left: 2%
  @media screen and (max-width: 767px)
    padding-right: 31%
    padding-left: 31%
  @media screen and (max-width: 550px)
    padding-right: 31%
    padding-left: 31%
  @media screen and (max-width: 410px)
    padding-right: 37%
    padding-left: 37%
  img
    border-radius: 50%
    margin-left: auto
    margin-right: auto
  display: table-cell

.footer-subtitle
  font-size: 200%

.footer-address
  @media screen and (min-width: 767px)
    padding-right: 10px
  @media screen and (min-width: 767px)
  display: table-cell
  border-left: 2px solid #8BC34A
  border-right: 2px solid #8BC34A

.social-media-icon
  @media screen and (min-width: 767px)
    width: 20%
  @media screen and (max-width: 767px)
    width: 11%
  @media screen and (max-width: 550px)
    width: 20%
  margin: 1%
  border-radius: 50%

#google-map
  img
    width: 70%
    margin-left: auto
    margin-right: auto

.copyright
  margin-left: 40px





