section.site_title, h3.top_of_site
  font-family: "Times New Roman", Times, serif
  background: #C8C8C8 
  padding: 30px

  a
    color: #AE1D00 // red

  a.answer
    color: #006600 // dark green

  a.answer.mouse_over
    color: #3300FF // blue
    background: #EFF3FF

  a.btn.btn-success, a.btn.btn-primary, input[type="submit"]
    color: #FAEBD7
  
  body
    margin: 20px
    background-color: #E8E8E8

  h1
    font-size: 250%
  h2
    font-size: 200%
  h3
    font-size: 150%
  h4
    font-size: 75%

h3.top_of_site
  padding-top: 10px
  padding-bottom: 10px
  padding-left: 10px