body .modal-dialog
  @media screen and (min-width: 550px)
    width: 70%
  @media screen and (max-width: 550px)
    width: 95%
  margin-left: auto
  margin-right: auto

html.noscroll
  position: fixed
  width: 100%
  top: 0
  left: 0
  height: 100%
  overflow-y: scroll !important
  z-index: 10

