body .modal-dialog
  // new custom width
  width: 70%
  // must be half of the width, minus scrollbar on the left (30px)
  margin-left: auto
  margin-right: auto

html.noscroll
  position: fixed
  width: 100%
  top: 0
  left: 0
  height: 100%
  overflow-y: scroll !important
  z-index: 10

