@media (min-width: 950px) {
    .sign-up {
        margin-top: 0.4em;
        color: #8BC34A;
        margin-left: 9.4em;
        font-size: 170%;
    }
}

@media (max-width: 950px) {
    .sign-up {
        margin-top: 0.6em;
        color: #8BC34A;
        margin-left: 5.5em;
        font-size: 150%;
    }
}

@media (max-width: 835px) {
    .sign-up {
        margin-top: 0.8em;
        color: #8BC34A;
        margin-left: 4.2em;
        font-size: 120%;
    }
}

@media (max-width: 767px) {
    .navbar-header {
        float: none;
        padding-right: 11px;
    }
    .navbar-toggle {
        display: block;
    }
    .sign-up {
        margin-top: 0.6em;
        color: #8BC34A;
    }
    @media screen and (min-width: 700px) { /*for small screen*/
        .sign-up {
            margin-left: 15.5em;
            font-size: 150%;
        }
    }
    @media screen and (max-width: 700px) { /*for small screen*/
        .sign-up {
            margin-left: 13.5em;
            font-size: 150%;
        }
    }
    @media screen and (max-width: 560px) { /*for small screen*/
        .sign-up {
            margin-left: 9.5em;
            font-size: 150%;
        }
    }
    @media screen and (max-width: 470px) { /*for small screen*/
        .sign-up {
            margin-left: 8.5em;
            font-size: 150%;
        }
    }
    @media screen and (max-width: 390px) { /*for small screen*/
        .sign-up {
            margin-left: 7.1em;
            font-size: 150%;
        }
    }
    @media screen and (max-width: 365px) { /*for small screen*/
        .sign-up {
            margin-left: 7.1em;
            font-size: 150%;
        }
    }
    @media screen and (max-width: 325px) { /*for small screen*/
        .sign-up {
            margin-left: 6em;
            font-size: 150%;
        }
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        /*display: none!important;*/
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li.national-flag {
        margin-left: 150px;
        width:2px;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
        margin-top: 0px;
    }
    /*.collapsing {
        overflow: hidden!important;
    }*/
}

a#drop-down-link {
    background-color: #fff;
    color: black;
}

a#log-out {
    color: white;
}

.navbar-nav > li > a {
  text-align: center;
}

.crazy-shirts {
  background: image-url('tv.png')
}

/*.page-scroll {
  text-align: center;
  border-style: solid;
  border-color: #ff0000 #0000ff;
  border: 2px;
}*/