@charset "utf-8"

$img-width: 100%

.header
  background: #212A3F
  height: 60px
  position: fixed
  width: 100%
  z-index: 1

.logo
  color: #fa3447
  font-weight: 100
  font-size: 30px
  padding: 0px !important
  line-height: 60px
  &:hover
    color: #fff

logo:active
  color: #fff

$break: 550px

.backg
  @media screen and (min-width: $break) // for large screen
    background: url("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/on_bench.jpg") no-repeat
  @media screen and (max-width: $break) // for small screen
    background-image: url("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/on_bench_mobile.jpg")
    background-size: cover

.backg-vol
  @media screen and (min-width: $break) // for large screen
    background-image: url("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/at_coffee_shop.jpg")
  @media screen and (max-width: $break) // for small screen
    background-image: url("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/at_coffee_shop_mobile.jpg")

.inner // green(#8BC34A) box on top of main
  float: right
  @media screen and (min-width: $break) // for large screen
    background: rgba(139, 195, 74, 0.7)
  @media screen and (max-width: $break) // for small screen
    background: rgba(139, 195, 74, 0.4)
  border-radius: 40px 0px 0px 40px
  color: #2D3179

.backg, .backg-vol
  // background-attachment: fixed
  background-color: #645862
  background-position: top left
  background-repeat: no-repeat
  background-size: cover
  color: white
  cursor: default
  padding: 180px 0 120px
  text-align: center
  width: $img-width
  float: left

.text-box
  // font-family: 'Poppins', sans-serif
  a
    background-color: #2D3179
  // h2
  //   font-size: 55px
  //   font-weight: 700
  //   color: #2D3179
  //   border-bottom: 7px #fa3447
  //   border-top: 7px #fa3447
  //   line-height: 130%
  //   font-family: 'Muli', sans-serif
  p.intro
    font-size: 30px
    font-weight: 400
    padding: 20px 22px 10px 22px
    border-bottom: 7px #fa3447
    line-height: 130%
    font-family: 'Muli', sans-serif
    a
      color: #ffffff
      text-decoration: underline
  // h3
  //   font-size: 20px
  //   font-weight: 500
  //   line-height: 1
  // p
  //   font-size: 10px
  //   font-weight: 400
  //   span
  //     font-size: 15px
  //     font-weight: 400
  //     color: #83D3C9
  //     a
  //       text-decoration: none
  //       color: #8AB839
  //       font-size: 15px
  //   a.link-button
  //     text-decoration: none
  //     color: #fff
  //     border: #fff solid 1px
  //     padding: 15px 22px
  //     margin-top: 20px
  //     line-height: 4
  //     font-size: 18px
  //     font-weight: 400
  //     background: rgba(255, 255, 255, 0.1)
  //     transition: all 0.2s ease-in-out
  //     font-family: 'Poppins', sans-serif
  //     &:hover
  //       background: rgba(255, 255, 255, 0.3)

.carousel-caption
  @media screen and (min-width: 700px)
    width: 450px
  @media screen and (max-width: 700px)
    width: 350px
  @media screen and (max-width: $break)
    width: 300px
  @media screen and (max-width: 400px)
    width: 280px
  @media screen and (min-width: 840px)
    left: 35%
  @media screen and (max-width: 840px)
    left: 34%
  @media screen and (max-width: 550px)
    left: 10%
  @media screen and (min-width: 720px)
    top: 40%
  @media screen and (max-width: 720px)
    top: 43%
  @media screen and (max-width: $break)
    top: 40%
  transform: translateY(-23%)
  text-align: left
  bottom: initial
  color: black
  @media screen and (min-width: 850px)
    font-size: 100%
  @media screen and (max-width: 850px)
    font-size: 90%
  text-shadow: none

.features
  z-index: 0
  // position: relative
  background: #2D3179
  padding: 60px 0px

.features-text
  font-family: 'Muli', sans-serif
  font-weight: 700
  letter-spacing: 5px
  margin-bottom: 30px
  margin-top: 30px

h2.features-text::after
  display: block
  margin: 17px auto 0px
  width: 100px
  height: 1px
  background: #FFF none repeat scroll 0% 0%
  content: ""

.features-text-bottom
  font-family: 'Muli', sans-serif
  font-weight: 700
  letter-spacing: 5px
  margin-bottom: 30px
  margin-top: 30px

h2.features-text-bottom
  &::after
    display: block
    margin: 17px auto 0px
    width: 98%
    height: 1px
    background: #FFF none repeat scroll 0% 0%
    content: ""
  &::before
    display: block
    margin: 17px auto 10px
    width: 98%
    height: 1px
    background: #FFF none repeat scroll 0% 0%
    content: ""

#get-started, #holistic
  background: #8BC34A

.get-started-text
  color: #2D3179
  font-family: 'Muli', sans-serif
  font-weight: 700
  letter-spacing: 5px
  width: 90%
  margin-left: auto
  margin-right: auto

h2.get-started-text::after
  display: block
  margin: 15px auto 10px
  width: 80px
  height: 1px
  background: #8ab839 none repeat scroll 0% 0%
  content: ""

h3.get-started-text::after
  display: block
  margin: 15px auto 10px
  width: 80px
  height: 1px
  background: #8ab839 none repeat scroll 0% 0%
  content: ""

h3 span.steps
  color: #2D3179
  font-family: 'Muli', sans-serif
  font-size: 16px
  
html, body 
  max-width: 100%
  overflow-x: hidden

span.stepTitle
  color: #2d3179
  font-family: "Muli", sans-serif
  font-weight: 700
  letter-spacing: 5px

h3.get-started-text
  font-size: 1em
  font-weight: normal
  //text-align: center
  padding: 15px
 
.container-fluid
  margin-right: auto
  margin-left: auto
  padding: 0




.footer-screen
  position: relative
  color: #2D3179
  @media screen and (min-width: 840px)
    font-size: 100%
  @media screen and (max-width: 840px)
    font-size: 90%
  // @media screen and (max-width: 770px)
  //   font-size: 80%

.footer-content
  h2
    text-align: center
    font-family: 'Muli', sans-serif
  @media screen and (min-width: 1270px)
    top: 0
  @media screen and (max-width: 1270px)
    top: 7%
  @media screen and (max-width: 1000px)
    top: 0%
  left: 2%
  position: absolute
  .row
    overflow: hidden
  [class*="col-"]
    margin-bottom: -99999px
    padding-bottom: 99999px

.footer-cep-logo
  @media screen and (min-width: 767px)
    padding-right: 2%
    padding-left: 2%
    border-right: 2px solid #8BC34A
  @media screen and (max-width: 767px)
    padding-right: 31%
    padding-left: 31%
  @media screen and (max-width: 550px)
    padding-right: 19%
    padding-left: 19%
  img
    border-radius: 50%

.footer-subtitle
  font-size: 200%

.footer-address
  @media screen and (min-width: 767px)
    padding-right: 10px
  @media screen and (min-width: 767px)
    border-right: 2px solid #8BC34A

.social-media-icon
  @media screen and (min-width: 767px)
    width: 20%
  @media screen and (max-width: 767px)
    width: 11%
  @media screen and (max-width: 550px)
    width: 20%
  margin: 1%

.footer-left-line
  @media screen and (max-width: 767px)
    padding-left: 20px
  @media screen and (max-width: 767px)
    border-left: 2px solid #8BC34A
    width: 70%
    margin-left: auto
    margin-right: auto

.footer-map
  @media screen and (max-width: 767px)
    width: 70%
    margin-left: auto
    margin-right: auto

//???????????????
#contact-info
  width: 100%
  left: 90%
  top: 0
  transform: translateY(-53%)
  text-align: left
  bottom: initial
  color: black
  font-size: 200%
  text-shadow: none
  color: red




@-moz-keyframes reveal-banner
  0%
    opacity: 0

  100%
    opacity: 1


@-webkit-keyframes reveal-banner
  0%
    opacity: 0

  100%
    opacity: 1


@-o-keyframes reveal-banner
  0%
    opacity: 0

  100%
    opacity: 1


@-ms-keyframes reveal-banner
  0%
    opacity: 0

  100%
    opacity: 1


@keyframes reveal-banner
  0%
    opacity: 0

  100%
    opacity: 1

.some-notes
  padding: 40px 0px
  float: left

.title h2
  font-family: 'Muli', sans-serif
  font-weight: 300
  font-size: 42px
  text-align: center
  // background-color: #2D3179
  color: #8AB839
  text-transform: uppercase

.desc p
  width: 55%
  position: relative
  margin: 8em 1em 5em 1em
  float: right
  font-family: 'Poppins', sans-serif
  font-weight: 400
  color: #2E2E2E
  font-size: 16px
  text-align: center
  line-height: 25px
  a
    text-decoration: none
    color: #8ab839

.partners
  text-align: center
  margin-left: 2em
  margin-right: 2em

.picturing img
  margin: 0 auto
  font-size: 35px
  text-align: center
  color: #fff
  display: block
  border-radius: 50%
  background: rgba(255, 255, 255, 0.1)
  width: 270px
  height: 270px
  line-height: 80px

.icon-box
  margin: 30px 0px

.icon-text-box
  h4
    font-family: 'Muli', sans-serif
    color: #ffffff
    font-weight: 400
    font-size: 28px
    margin: 20px 0 20px 0
  p
    font-family: 'Poppins', sans-serif
    font-weight: 400
    font-size: 19px
    color: #ffffff
    margin: 0 0 55px 0

.notes
  background-attachment: fixed
  background-color: #645862
  background-image: image-url("notes-bg.png")
  background-position: top center
  background-repeat: no-repeat
  background-size: cover
  color: white
  cursor: default
  text-align: center
  width: 100%
  float: left

.notes-bg
  background: rgba(33, 42, 63, 0.9)
  padding: 80px 0px
  p
    font-size: 17px
    margin: 0px !important
    font-family: 'Poppins', sans-serif
    font-weight: 300
    line-height: 30px

.btneff
  background-color: #8ab839
  border: none
  color: #fff
  padding: 13px 0px
  width: 100% !important
  font-size: 17px

.work-list
  padding: 60px 0px

.work-list a .featured-img
  width: $img-width
  height: $img-width / 1.43
  img
    width: $img-width
    height: $img-width / 1.43
    float: right
    position: relative

.work-list a
  h3
    text-align: center
    padding: 15px 0px
    font-size: 15px
    float: left
    width: $img-width
    font-weight: 600
    background: #8ab839
    color: #fff
    margin: 0px
    font-family: 'Muli', sans-serif
  &:hover .image-hover
    display: block
    animation: 0.4s ease-in 0s normal none 1 running imagehover

.work-space
  margin: 10px 0px

@keyframes imagehover
  0%
    height: 40px

  25%
    height: 80px

  50%
    height: 120px

  75%
    height: 160px

  100%
    height: 200px


.image-hover
  display: none
  position: absolute
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5)
  text-align: center
  width: 100%
  height: 200px
  float: left
  i
    color: rgba(138, 184, 57, 0)
    font-size: 30px
    line-height: 200px
    transition: 5s color ease-in
    display: none
  &:hover i
    display: block
    color: #212A3F

.active
  color: #8ab839 !important

.nav li a
  &:focus
    background: #212A3F
    color: #fff
  &:active
    color: #fff

.countbg
  background: rgba(33, 42, 63, 1)
  padding: 80px 0px
  width: 100%
  float: left

.countspace
  color: white
  text-align: center
  width: 100%
  float: left
  background: rgba(33, 42, 63, 1)

.counter-item
  margin-top: 30px
  i
    font-size: 40px
    color: #8ab839

.timer
  margin-top: 5px
  font-weight: 700
  font-size: 50px
  color: #8ab839

.counter-item h5
  font-size: 12px
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 2px
  font-family: 'Muli', sans-serif

.login
  padding: 60px 0px
  float: left
  width: 100%

.login-form, .address-space
  margin-top: 20px

.form-effect
  padding: 12px 12px
  color: #555
  background-color: rgba(33, 42, 63, 0.2)
  color: #212A3F
  height: auto !important
  margin-bottom: 30px
  font-family: 'Poppins', sans-serif
  &:focus
    border-color: rgba(33, 42, 63, 0.2)
    outline: 0px none
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(33, 42, 63, 0.1)

.btn-sub
  color: #fff
  background-color: #8AB839
  border-color: #fff
  font-size: 18px
  padding: 10px 30px

#map-canvas
  height: 150px

input[placeholder], [placeholder], *[placeholder]
  color: #212A3F !important

.address p i
  padding-right: 10px
  font-size: 15px
  color: #8AB839

.footer
  margin: 20px 0px 10px
  float: left
  text-align: center
  width: 100%
  p
    text-align: center
    font-family: 'Poppins', sans-serif
    a
      color: #8AB839
      font-family: 'Poppins', sans-serif

// @media (min-width: 380px) and (max-width: 768px)
//   .text-box
//     p.intro
//       font-size: 22px
//     h2
//       font-size: 40px
//     h3
//       font-size: 16px
//     p a.link-button
//       padding: 8px 14px
//       font-size: 13px
//   .title h2
//     font-size: 29px
//     padding: 8px
//   .desc p
//     font-size: 15px
//     text-align: right
//   .icon-text-box
//     h4, p
//       text-align: center
//   .btneff
//     margin-top: 15px
//     width: 20% !important

// @media (min-width: 0px) and (max-width: 379px)
//   .text-box
//     p.intro
//       font-size: 22px
//     h2
//       font-size: 20px
//     h3
//       font-size: 16px
//     p a.link-button
//       padding: 8px 14px
//       font-size: 13px
//   .title h2
//     font-size: 29px
//     padding: 8px
//   .desc p
//     font-size: 15px
//     text-align: justify
//   .icon-text-box
//     h4, p
//       text-align: center
//   .btneff
//     margin-top: 15px
//     width: 80% !important

$accept-width-small: 450px
$accept-width-large: 451px
$accept-height-small: 810px

#overlay
  display: none
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 9
  @media screen and (max-width: $accept-width-small)
    background: rgba(0, 0, 0, .4)
  @media screen and (min-width: $accept-width-large)
    background: rgba(0, 0, 0, .4)


#entry_form_modal
  @media screen and (max-height: $accept-height-small)
    margin: 0% 0% 0% 0%

#entry_form_modal
  @media screen and (max-width: $accept-width-small)
    margin: 0%
  @media screen and (min-width: $accept-width-large)
    margin: 10%
    border-radius: 5px
  display: none
  position: fixed
  max-height: 900px
  overflow-y: auto
  top: 0px
  right: 0px
  bottom: 0px
  left: 0px
  padding: 25px
  z-index: 10
  background: #ffffff

#entry_form_modal a.close
  position: absolute
  top: 25px
  right: 25px
  z-index: 1
  color: #0D0101


