@charset "utf-8"

html, body 
  max-width: 100%
  overflow-x: hidden
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  height: 100% //A value other than height:auto needs to be set

.container-fluid
  margin-right: auto
  margin-left: auto
  padding: 0

.header
  background: #212A3F
  height: 60px
  position: fixed
  width: 100%
  z-index: 1

.logo
  color: #fa3447
  font-weight: 100
  font-size: 30px
  padding: 0px !important
  line-height: 60px
  &:hover
    color: #fff

logo:active
  color: #fff

.navbar-brand > img
  display: inline
  // @media screen and (min-width: 550px) // for large screen
  //   width: 160px
  // @media screen and (max-width: 550px) // for small screen
  width: 55px
  margin-top: -11px
  margin-left: 10px
  border-radius: 50%
  position: fixed

.header
  background-color: #8BC34A

.backg-vol
  @media screen and (min-width: 550px) // for large screen
    background-image: url("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/at_coffee_shop.jpg")
  @media screen and (max-width: 550px) // for small screen
    background-image: url("https://s3-ap-southeast-1.amazonaws.com/ccmcoversbsc/at_coffee_shop_mobile.jpg")

.backg, .backg-vol
  background-color: #645862
  background-position: top left
  background-repeat: no-repeat
  background-size: cover
  color: white
  cursor: default
  padding: 180px 0 120px
  text-align: center
  width: 100%
  float: left


.volunteer-picture
  img
    width: 275px
    height: 170px
    margin-left: 40px

@-moz-keyframes reveal-banner
  0%
    opacity: 0

  100%
    opacity: 1


@-webkit-keyframes reveal-banner
  0%
    opacity: 0

  100%
    opacity: 1


@-o-keyframes reveal-banner
  0%
    opacity: 0

  100%
    opacity: 1


@-ms-keyframes reveal-banner
  0%
    opacity: 0

  100%
    opacity: 1


@keyframes reveal-banner
  0%
    opacity: 0

  100%
    opacity: 1

.some-notes
  padding: 40px 0px
  float: left

.title h2
  font-weight: 300
  font-size: 42px
  text-align: center
  // background-color: #2D3179
  color: #8AB839
  text-transform: uppercase

.desc p
  width: 55%
  position: relative
  margin: 8em 1em 5em 1em
  float: right
  font-weight: 400
  color: #2E2E2E
  font-size: 16px
  text-align: center
  line-height: 25px
  a
    text-decoration: none
    color: #8ab839

.partners
  text-align: center
  margin-left: 2em
  margin-right: 2em

.text-under-circle
  @media screen and (min-width: 1170px)
    padding-right: 90px
  @media screen and (max-width: 1170px)
    padding-right: 40px

p.vol-step
  @media screen and (min-width: 767px)
    width: 11em

.picturing .btn
  font-size: 20px
  font-family: "Times New Roman", Georgia, Serif
  margin-top: -30px
  @media screen and (min-width: 767px)
    margin-left: 2px
  @media screen and (max-width: 767px)
    margin-left: 20px
  @media screen and (max-width: 450px)
    margin-left: 9px
  background-color: #8BC34A
  border-width: 5px
  border-color: #fff

.picturing img
  margin: 0 auto
  font-size: 35px
  text-align: center
  color: #fff
  display: block
  border-radius: 50%
  background: rgba(255, 255, 255, 0.1)

  @media screen and (min-width: 780px)
    width: 270px
    height: 270px
  @media screen and (max-width: 780px)
    width: 220px
    height: 220px

  line-height: 80px



.icon-box
  margin: 30px 0px

.icon-text-box
  h4
    color: #ffffff
    font-weight: 400
    font-size: 28px
    margin: 20px 0 20px 0
  p
    font-weight: 400
    font-size: 19px
    color: #ffffff
    margin: 0 0 55px 0

.notes
  background-attachment: fixed
  background-color: #645862
  background-image: image-url("notes-bg.png")
  background-position: top center
  background-repeat: no-repeat
  background-size: cover
  color: white
  cursor: default
  text-align: center
  width: 100%
  float: left

.notes-bg
  background: rgba(33, 42, 63, 0.9)
  padding: 80px 0px
  p
    font-size: 17px
    margin: 0px !important
    font-weight: 300
    line-height: 30px

.btneff
  background-color: #8ab839
  border: none
  color: #fff
  padding: 13px 0px
  width: 100% !important
  font-size: 17px

.work-list
  padding: 60px 0px

.work-list a .featured-img
  width: 100%
  height: 100% / 1.43
  img
    width: 100%
    height: 100% / 1.43
    float: right
    position: relative

.work-list a
  h3
    text-align: center
    padding: 15px 0px
    font-size: 15px
    float: left
    width: 100%
    font-weight: 600
    background: #8ab839
    color: #fff
    margin: 0px
  &:hover .image-hover
    display: block
    animation: 0.4s ease-in 0s normal none 1 running imagehover

.work-space
  margin: 10px 0px

@keyframes imagehover
  0%
    height: 40px

  25%
    height: 80px

  50%
    height: 120px

  75%
    height: 160px

  100%
    height: 200px


.image-hover
  // display: none
  position: absolute
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.5)
  text-align: center
  width: 100%
  height: 200px
  float: left
  i
    color: rgba(138, 184, 57, 0)
    font-size: 30px
    line-height: 200px
    transition: 5s color ease-in
    // display: none
  &:hover i
    display: block
    color: #212A3F

.active
  color: #8ab839 !important

.nav li a
  &:focus
    background: #212A3F
    color: #fff
  &:active
    color: #fff

.countbg
  background: rgba(33, 42, 63, 1)
  padding: 80px 0px
  width: 100%
  float: left

.countspace
  color: white
  text-align: center
  width: 100%
  float: left
  background: rgba(33, 42, 63, 1)

.counter-item
  margin-top: 30px
  i
    font-size: 40px
    color: #8ab839

.timer
  margin-top: 5px
  font-weight: 700
  font-size: 50px
  color: #8ab839

.counter-item h5
  font-size: 12px
  font-weight: 700
  text-transform: uppercase

.login
  padding: 60px 0px
  float: left
  width: 100%

.login-form, .address-space
  margin-top: 20px

.form-effect
  padding: 12px 12px
  color: #555
  background-color: rgba(33, 42, 63, 0.2)
  color: #212A3F
  height: auto !important
  margin-bottom: 30px
  &:focus
    border-color: rgba(33, 42, 63, 0.2)
    outline: 0px none
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(33, 42, 63, 0.1)

.btn-sub
  color: #fff
  background-color: #8AB839
  border-color: #fff
  font-size: 18px
  padding: 10px 30px

#map-canvas
  height: 150px

input[placeholder], [placeholder], *[placeholder]
  color: #212A3F !important

.address p i
  padding-right: 10px
  font-size: 15px
  color: #8AB839

.footer
  margin: 20px 0px 10px
  float: left
  text-align: center
  width: 100%
  p
    text-align: center
    a
      color: #8AB839



$accept-width-small: 450px
$accept-width-large: 451px
$accept-height-small: 810px

#overlay
  // display: none
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 9
  @media screen and (max-width: $accept-width-small)
    background: rgba(0, 0, 0, .4)
  @media screen and (min-width: $accept-width-large)
    background: rgba(0, 0, 0, .4)

