.carousel-caption
  @media screen and (min-width: 940px)
    width: 570px
  @media screen and (max-width: 940px)
    width: 510px
  @media screen and (max-width: 900px)
    width: 460px
  @media screen and (max-width: 700px)
    width: 350px
  @media screen and (max-width: 700px)
    width: 350px
  @media screen and (max-width: 400px)
    width: 280px

  @media screen and (min-width: 1000px)
    font-size: 120%
  @media screen and (max-width: 1000px)
    font-size: 110%
  @media screen and (max-width: 950px)
    font-size: 105%
  @media screen and (max-width: 830px)
    font-size: 97%
  @media screen and (max-width: 800px)
    font-size: 90%
  @media screen and (max-width: 550px)
    font-size: 110%
  @media screen and (max-width: 480px)
    font-size: 98%

  @media screen and (min-width: 840px)
    left: 35%
  @media screen and (max-width: 840px)
    left: 34%
  @media screen and (max-width: 550px)
    left: 10%
    width: 300px

  @media screen and (min-width: 850px)
    top: 43%
  @media screen and (max-width: 850px)
    top: 42%
  @media screen and (max-width: 800px)
    top: 41%
  @media screen and (max-width: 720px)
    top: 43%
  @media screen and (max-width: 550px)
    top: 40%

  transform: translateY(-23%)
  text-align: left
  bottom: initial
  color: black
  text-shadow: none

