h2.partners-thai {
  font-family: 'Kanit', sans-serif;
  color: black;
  font-size: 200%;
  margin-right: 1em;
  float: right;
}

h2.partners-english {
  font-family: 'Lustria', sans-serif;
  color: black;
  font-size: 150%;
  margin-right: 2em;
  float: right;
}

p.paragraph {
  font-family: 'Muli', sans-serif;
}

#nav {
  background-color: #2D3179;
  font-family: 'Muli', sans-serif;
}

a#home-link, a#place_1, a#place_2, a#place_3, a#place_4, a#place_5, a#place_6, a#nav-dropdown  {
  color: #ffffff;
}
