<main>
  <div id="events_list"></div>

  <form action="/events/new" method="post">
    <h2>New Event</h2>
    <fieldset>
      <dl>
        <dt><label for="name">Name</label></dt>
        <dd><input type="text" name="name" id="name" /></dd>
        <dt><label for="month">Date</label></dt>
        <dd>
          <input type="text" name="month" id="month" placeholder="12" />
          /
          <input type="text" name="date" id="date" placeholder="30" />
        </dd>
        <dt><label for="notes">Notes</label></dt>
        <dd><textarea name="notes" id="notes" rows="5" cols="60"></textarea></dd>
      </dl>
      <input type="submit" value="Create" />
    </fieldset>
  </form>
</main>

<script id="events" type="text/x-handlebars">
  <ul>
    {{#each events}}
    {{> event}}
    {{/each}}
  </ul>
</script>

<script id="event" type="text/x-handlebars">
  <li data-id="{{id}}">
    <h3>{{name}}</h3>
    <p>{{formatted_date}}</p>
    <p>{{notes}}</p>
    <a href="#" class="remove">Remove</a>
  </li>
</script>
