%section.site_title
  %hr
  %h1="Hello to #{current_user.first_name}!!"
  %hr
  %h1
    Here is your current plan...
  %hr
  %hr
  - counter = 0
  - @plans.each do |plan|
    - counter += 1
    %h2= counter.to_s + ". "
    %h2=link_to plan.description, plan_path(plan)
    %hr