%section.bsc-container
  
  %h1="Hello #{current_user.first_name}!!"
  
  %h2
    To Register for a new course...
    = render 'shared/curriculum_courses'
  
  %h1
    Here are your Course Plans for the BSC English Online curricula...
    -@plans.each do |plan|
      %h2=plan.description
      -#plan.curriculum.courses.each do |course|
        -#if registered_for
        %h2=#link_to course.name, curriculum_course_path(plan.curriculum, course) # change this path to go only to courses that the student has registered for
      