/ Header Carousel
%header#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      .fill{:style => "background-image:url('https://s3-ap-southeast-1.amazonaws.com/carouselbucket/asian-team.jpg?X-Amz-Date=20150218T091207Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=529ac2df5d7bd4e8237b8cab752bfa5c18e16e6edd3c61ed68c6c1536d87284d&X-Amz-Credential=ASIAILGROO3WY4Z5DT4A/20150218/ap-southeast-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEEAagAIPSzRU1f17knaBG0FzMtIb6myKbYOQYxLqUJ37QyBebBtLWU0eT5zkeAWGy%2BYUYaAxDGZfnVns8sR24ipFhUzYUO6%2B4DHFyOAuVC1cRPa6MYQgcHMb0ETXLWh4wVKgyaDzT0UB5lHRsSP5km1aELarKxqq5EW7Hbh4t98H9ezX4pS8P7Da/G0Rm8dMQrO48oyieszwDwE0LwsVSIT87D7GALWqx6B9YBahGknmd5fombw%2BuvY1ywFyeB80bg%2BS8nChwrNMXqhQd5RefB4pawjw%2B0jtmvB7wZxoEMeaC9oVypYAfU%2BbQvjAiY%2BPreALmzFDGWBpqrYomCzolLu8TTKgIMbrkKcF');"}
      .carousel-caption
        %h2 Knowing English unlocks greater opportunities in the ASEAN
    .item
      .fill{:style => "background-image:url('http://placehold.it/1900x1080&text=Slide Two');"}
      .carousel-caption
        %h2 Caption 2
    .item
      .fill{:style => "background-image:url('http://placehold.it/1900x1080&text=Slide Three');"}
      .carousel-caption
        %h2 Caption 3
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.icon-next

