/ Header Carousel
%header#myCarousel.carousel.slide
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  / Wrapper for slides
  .carousel-inner
    .item.active
      .fill{:style => "background-image:url('https://s3-ap-southeast-1.amazonaws.com/carouselbucket/asian-team.jpg?X-Amz-Date=20150218T155247Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=3b479ded8bde5bc93078a7c62a18f5f80e79c59174494b89e04e41407175b176&X-Amz-Credential=ASIAJZL566FWYROWMBSA/20150218/ap-southeast-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEEgagAIDjNqXpXmEdW7AcA6525Dl2XMHU3JDiN0uaPiFgUVUdSJ%2Bgfv8FBBv2TYJwPKg4KBzmOyEnMWhqBcDCBeaxWNNGq7jAYtDNaRj4UyTciManjZoSArPk2wYH%2BGbJNgRuVLawD%2BTStt0cSnZNshgrWiUkV6A168bv/mhHHukPzXYpCfFWWKg2IDYfsXhUj/toQC4UtBYM4%2BtBdAU%2BSX%2B73KzmrfCNbrFTJqjyLT4N8V/gtMBjxe2m4oyCkxQWpDxLzomVkvTAflYyHhRaMc%2BEuLhW4e92A5V6YqtkfO43/xIgrwYtUIlytUDUn7QMDQgowckGPk5Gs451d21MeoyGHesIPa/kqcF');"}
      .carousel-caption
        %h2 Knowing English unlocks greater opportunities in the ASEAN
    .item
      .fill{:style => "background-image:url('http://placehold.it/1900x1080&text=Slide Two');"}
      .carousel-caption
        %h2 Caption 2
    .item
      .fill{:style => "background-image:url('http://placehold.it/1900x1080&text=Slide Three');"}
      .carousel-caption
        %h2 Caption 3
  / Controls
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
    %span.icon-next

